<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs" %>
<%= tr8n_will_filter(@translations) %>

<% form_tag("", :id => "translations_form") do %>
  <%= will_filter_table_tag(@translations, :columns => [
    [:checkbox, :translations],
    [:translation_key_id, lambda{|translation|
       html = []
       html << link_to(translation.translation_key.label, :controller => "/tr8n/admin/translation_key", :action => :view, :key_id => translation.translation_key.id)
       html << "<div style='font-size:10px;color:grey'>"
       html << translation.translation_key.description
       html << "</div>"
       html.join("").html_safe
    }],
    [:language_id, lambda{|translation|
      if translation.language
        link_to(translation.language.english_name, :controller => "/tr8n/admin/language", :action => :view, :lang_id => translation.language.id)
      else
         "Deleted Language"
      end
    }],
    [:label, lambda{|translation|
      html = []
      html << link_to(translation.label, :action => :view, :translation_id => translation.id)
      if translation.context
        html << "<div style='font-size:10px;color:grey'>"
        html << "Context: #{translation.context}"
				html << "</div>"
      end
      html.join("").html_safe
    }],
    [:translator_id, lambda{|translation|
      if translation.translator
        link_to(translation.translator.name, :controller => "/tr8n/admin/translator", :action => :view, :translator_id => translation.translator.id)
      else
        "Unknown"
      end
    }],
    [:rank, lambda{|translation|
      html = []
      if translation.rank >= Tr8n::Config.translation_threshold
        html << "<span style='color:green'>"
      elsif translation.rank >= 0
        html << "<span style='color:yellow'>"
      else
        html << "<span style='color:red'>"
      end
      html << translation.rank
      html << "</span>"
      html.join("").html_safe
    }, 'text-align:right;'],
    [:actions, lambda{|translation|
      html = []
      html << link_to("View", :action => :view, :translation_id => translation.id)
      html << link_to("Delete", {:action => :delete, :translation_id => translation.id}, {:confirm => "Are you sure you want to delete this translation?"})
      html.join(' | ').html_safe
    }, 'text-align:right;white-space:nowrap;']
  ]) %>
<% end %>

<%= will_filter_actions_bar_tag(@translations, [
  ['Delete Selected Translations', 'deleteSelectedTranslations()']
]) %>

<%= render :partial => "/tr8n/admin/common/footer" %>

<script>
  function deleteSelectedTranslations() {
    if (!confirm('Are you sure you want to run this opperation?'))
       return;
    Tr8n.element('translations_form').action = "/tr8n/admin/translation/delete";
    Tr8n.element('translations_form').submit();
  }
</script>

