<%= render :partial => "/tr8n/admin/common/header" %>

<div class="section_title">
  <span style="font-size:12px; float:right; padding-top:5px;">
    <%=link_to("View Translations", {:action => :index})%> 
    | <%=link_to("View Translation Votes", {:action => :votes})%> 
  </span> 
	Translation Details
</div>

<table class="admin_table">
   <tr>
        <th>
            Language
        </th>
        <td>
            <%=link_to(@translation.language.english_name, "/tr8n/admin/language/view?key_id=#{@translation.language.id}") %>
        </td>
    </tr>
 
     <tr>
        <th>
            Translated Label
        </th>
        <td>
            <%=@translation.label %>
        </td>
    </tr>    
    <tr>
        <th>
            Context
        </th>
        <td>
            <%=@translation.context %>
        </td>
    </tr>   

    <tr>
        <th width="160">
            Translation Id
        </th>
        <td>
            <%=@translation.id %>
        </td>
    </tr>
    <tr>
        <th>
            Translation Key Label
        </th>
        <td>
            <%=link_to(@translation.translation_key.label, "/tr8n/admin/translation_key/view?key_id=#{@translation.translation_key.id}") %>
        </td>
    </tr>
    <tr>
        <th>
            Translation Key Description
        </th>
        <td>
            <%=@translation.translation_key.description %>
        </td>
    </tr>
 
    <tr>
        <th>
            Rank
        </th>
        <td>
            <%=@translation.rank %>
        </td>
    </tr>
    <tr>
        <th>
            Translator
        </th>
        <td>
	        <% if @translation.translator %>
	          <%=link_to(@translation.translator.name, :controller => "/tr8n/admin/translator", :action => :view, :translator_id => @translation.translator.id)%>
	        <% else %>
	          Unknown  
	        <% end %>  
        </td>
    </tr>
    <tr>
        <th>
            Created At
        </th>
        <td>
            <%=@translation.created_at %>
        </td>
    </tr>    
    <tr>
        <th>
            Updated At
        </th>
        <td>
            <%=@translation.updated_at %>
        </td>
    </tr>    
    <tr>
        <th>
            
        </th>
        <td>
          <%=link_to("View Translation Key", "/tr8n/admin/translation_key/view?key_id=#{@translation.translation_key.id}") %>
          |          
          <%=link_to("View Translation Votes", "/tr8n/admin/translation/votes?wf_c0=translation_id&wf_o0=is&wf_v0_0=#{@translation.id}") %>
          |          
          <%=link_to("Delete", {:action => :delete, :translation_id => @translation.id, :source => :translation}, {:confirm => "Are you sure you want to delete this translation?"}) %>
        </td>
    </tr>    
</table>

<%=  tr8n_sections_tag(:modes => [
            ["Votes",   {:mode => :votes}],
        ],
        :params => {
            :translation_id => @translation.id
        }
) %>

<%= render :partial => "/tr8n/admin/common/footer" %>
