<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs" %>
<%= tr8n_will_filter(@results) %>

<%= form_tag("", :id => "tr8n_form") do %>
  <%= hidden_field_tag(:type, "vote") %>
  <%= will_filter_table_tag(@results, :columns => [
    [:checkbox, :ids],
    [:language, lambda{|vote|
      if vote.translation and vote.translation.language
        link_to(vote.translation.language.english_name, :controller => "/tr8n/admin/language", :action => :view, :id => vote.translation.language.id)
      else
         "Deleted Language"    
      end  
    }],
    [:translation_id, lambda{|vote|
      if vote.translation
	      html = []
	      html << link_to(vote.translation.label, :action => :view, :id => vote.translation.id)
	      if vote.translation.context
	        html << "<div style='font-size:10px;color:grey'>"
	        html << "Context: #{vote.translation.context}"
	        html << "</div>"
	      end

        html << "<div style='background:#fffeee; font-size:9px; padding:5px; margin-top:10px; margin-bottom:5px; border:1px dotted #eee;'>"
        html << link_to(vote.translation.translation_key.label, :controller => "/tr8n/admin/translation_key", :action => :view, :id => vote.translation.translation_key.id)
        html << "<div style='font-size:10px;color:grey;padding-top:3px;'>"
        html << vote.translation.translation_key.description
        html << "</div>"

	      html.join("").html_safe 
      else
        "Deleted Translation"  
      end  
    }, :title => "Translation"],
    [:translator_id, lambda{|vote|
      if vote.translator
        link_to(vote.translator.name, :controller => "/tr8n/admin/translator", :action => :view, :id => vote.translator.id)
      else
        "Unknown" 
      end  
    }],
    [:vote, lambda{|vote| 
      html = []
      if vote.vote == 1
        html << "<span style='color:green'>"
      else
        html << "<span style='color:red'>"
      end     
      html << vote.vote
      html << "</span>"
      html.join("").html_safe
    }, 'text-align:right;'],
    [:actions, lambda{|vote|
      tr8n_actions_tag([
        link_to_function("Delete", "deleteObjects('#{vote.id}')")
      ])
    }, 'text-align:right;white-space:nowrap;']
  ]) %>
<% end %>

<%= will_filter_actions_bar_tag(@results, [
  ['Delete Selected Votes', 'deleteObjects()'] 
]) %>

<%= render :partial => "/tr8n/admin/common/footer" %>

