<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
		<title><%=trl("Tr8n Engine Admin Tools", "Application title")%></title>
		<%= stylesheet_link_tag("tr8n/layout") %>
		<%= stylesheet_link_tag("tr8n/components") %>
		<%= tr8n_scripts_tag %>
		<style>
			.page_fixed {
				width:1200px;
			}
			.page_body {
				width:1200px;
			}
			 
			.wf_form {
				width: 99.8%;
			} 
		</style>
  </head>
  <body>
    <div class="document">
			<div class="page_head">
			  <div class="page_fixed">
			    <div class="mrgn_h">
				    <ul class="flt_r horiz_list top_nav">
			        <li><%= tr8n_language_selector_tag(:lightbox=>false) %></li>
			  		</ul>
			      <h1 class="logo"><%=link_to(tr("Tr8n Translation Engine", "Application title"), "/", :style=>"text-decorations:none;")%></h1>
			    </div>
			  </div>
			</div>

			<div class="page_fixed">
			    <%= tr8n_flashes_tag %>
			</div>
      <div class="page_fixed">
        <div class="page_body">
          <div class="content_module">
            <div class="content_inner">
              <%= yield %>
            </div>
          </div>
        </div>
				<div class="page_ft module quiet">
				  <ul class="flt_r right_horiz_list">
				    <li><%=link_to(tr("Home"), "/tr8n/home", :class => "quiet")%></li>
				    <li><%=link_to(tr("Languages"), "/tr8n/language/table", :class => "quiet")%></li>
				    <li><%=link_to(tr("Translator Tools"), "/tr8n/dashboard", :class => "quiet")%></li>
				    <li><%=link_to(tr("Administration Tools"), "/tr8n/admin/language", :class => "quiet")%></li>
				    <li><%=link_to(tr("Credits"), "/tr8n/help/credits", :class => "quiet")%></li>
				    <li><%=link_to(tr("License"), "/tr8n/help/license", :class => "quiet")%></li>
				  </ul>
				  &copy; Copyright 2010 - 2012 tr8n.net
				</div>

				<div style="padding:15px;">
					<%= tr8n_language_strip_tag %>
				</div>
      </div>
    </div>
  </body>
</html>
