<table class="admin_table">
<thead>
  <tr>
    <th style="">Language</th>
    <th style="">Type</th>
    <th style="">Description</th>
    <th style="">Translator</th>
    <th style="">Created At</th>
  </tr>
</thead>
<tbody>
  <% rules.each do |rule| -%>
    <tr>
      <td><%= link_to(rule.language.english_name, :action => :view,  :lang_id => rule.language.id) %></td>
      <td><%= rule.class.name %></td>
      <td><%= rule.description %></td>
      <td><%= rule.translator ? rule.translator.name : "System generated" %></td>
      <td><%= rule.created_at %></td>
    </tr>
  <% end -%>
</tbody>
</table>