<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs" %>
<%= tr8n_will_filter(@languages) %>

<%=link_to_function("+ Add new language", "tr8nLightbox.show('/tr8n/admin/language/lb_update', {height:350})") %>
|
<%=link_to("Calculate completeness", {:action => :calculate_total_metrics}, :confirm => "Are you sure you want to run this opperation?")%>

<%= will_filter_table_tag(@languages, :columns => [
  [:flag, lambda{|lang| image_tag("/tr8n/images/flags/#{lang.flag}.png")}, 'padding:5px;'],
  [:locale, lambda{|lang|
    html = []
    if lang.enabled?
      html << '<span style="color:green">'
    else  
      html << '<span style="color:red">'
    end
    html << lang.locale
    html << '</span>'
    html.join(' ')
  }, 'padding:5px;'],
  [:english_name, lambda{|lang| link_to(lang.english_name, :action => :view, :lang_id => lang.id)}, 'padding:5px;'],
  [:native_name, lambda{|lang| lang.native_name}, 'padding:5px;'],
  [:right_to_left, lambda{|lang|
    html = []
    if lang.right_to_left?
      html << '<span style="color:red">'
    else  
      html << '<span style="color:green">'
    end
    html << lang.right_to_left?
    html << '</span>'
    html.join(' ')
  }, 'padding:5px;'],
  [:featured_index, lambda{|lang| lang.featured_index}, 'padding:5px;text-align:right;'],
  [:users, lambda{|lang| lang.total_metric.user_count}, 'padding:5px;text-align:right;'], 
  [:translators, lambda{|lang| lang.total_metric.translator_count}, 'padding:5px;text-align:right;'], 
  [:translations, lambda{|lang| lang.total_metric.translation_count}, 'padding:5px;text-align:right;'], 
  [:completeness, lambda{|lang|
    html = []
    completeness = lang.completeness ? lang.completeness : 0
    if completeness > 90
      html << '<span style="color:green">'
    elsif completeness > 60 
      html << '<span style="color:yellow">'
    else  
      html << '<span style="color:red">'
    end
    html << "#{completeness}%"
    html << '</span>'
    html.join(' ')
  }, 'padding:5px;text-align:right;'],
  [:actions, lambda{|lang|
     html = [] 
     html << link_to("View", :action => :view, :lang_id => lang.id)
     html << link_to_function("Update", "tr8nLightbox.show('/tr8n/admin/language/lb_update?lang_id=#{lang.id}', {height:350})")
     unless lang.default?
      if lang.enabled?
        html << link_to("Disable", :action => :disable, :lang_id => lang.id)
      else
        html << link_to("Enable", :action => :enable, :lang_id => lang.id) 
      end
     end 
     html.join(' | ') 
  }, 'padding:5px;text-align:right;']
]) %>

<%= render :partial => "/tr8n/admin/common/footer" %>
