<%= render :partial => "/tr8n/common/lightbox_header" %>
<%= form_for(@language, :as => :language, :url => {:action => :update}, :html => {:id => 'tr8n_form', :method => :post, :class => "tr8n"}) do |form| %>
<%= form.hidden_field(:id)%>
<%= hidden_field_tag(:origin, params[:origin]) %>
<div class="inner">
    <div class="hd">
        <div style="float:right;">
            <%=link_to_function(image_tag("tr8n/close.gif"), "hideLightbox();") %>
        </div>
        Language Details
    </div>
    <div class="bd" style="height:330px">
        <table class="admin_table">
            <tr>
                <th>
                    Locale:
                </th>
                <td>
                    <%= form.text_field :locale, :style=>"width:99%;" %>
                </td>
            </tr>
            <tr>
                <th>
                    English Name:
                </th>
                <td>
                    <%= form.text_field :english_name, :style=>"width:99%;" %>
                </td>
            </tr>
            <tr>
                <th>
                    Native Name:
                </th>
                <td>
                    <%= form.text_field :native_name, :style=>"width:99%;" %>
                </td>
            </tr>
            <tr>
                <th>
                    Right to Left:
                </th>
                <td>
                    <%= form.check_box :right_to_left, :style=>"width:20px;" %>
                </td>
            </tr>
            <tr>
                <th>
                    Enabled:
                </th>
                <td>
                    <%= form.check_box :enabled, :style=>"width:20px;" %>
                </td>
            </tr>
            <tr>
                <th>
                    Featured Index:
                </th>
                <td>
                    <%= form.text_field :featured_index %>
                </td>
            </tr>
            <tr>
                <th>
                    Google Key:
                </th>
                <td>
                    <%= form.text_field :google_key %>
                </td>
            </tr>
            <tr>
                <th>
                    Facebook Key:
                </th>
                <td>
                    <%= form.text_field :facebook_key %>
                </td>
            </tr>
        </table>
        <div>
            <em>Note: providing google key/locale will enable google suggestions for that language.</em>
        </div>
    </div>
    <div class="ft">
        <%= render :partial => "/tr8n/common/lightbox_buttons" %>
    </div>
</div>
<% end %>
<%= render :partial => "/tr8n/common/lightbox_footer" %>
