<%= form_for(@language, :as => :language, :url => {:action => :update}, :html => {:id => 'tr8n_form', :method => :post, :class => "tr8n"}) do |form| %>
  <%= form.hidden_field :id %>
  <%= hidden_field_tag :source_url, request.env['HTTP_REFERER'] %>
  
  <h2>Language Details</h2>
  <table class="admin_table">
      <tr>
          <th>
              Locale:
          </th>
          <td>
              <%= form.text_field :locale, :style=>"width:100%;" %>
          </td>
      </tr>
      <tr>
          <th>
              English Name:
          </th>
          <td>
              <%= form.text_field :english_name, :style=>"width:100%;" %>
          </td>
      </tr>
      <tr>
          <th>
              Native Name:
          </th>
          <td>
              <%= form.text_field :native_name, :style=>"width:100%;" %>
          </td>
      </tr>
      <tr>
          <th>
              Right to Left:
          </th>
          <td>
              <%= form.check_box :right_to_left, :style=>"width:20px;" %>
          </td>
      </tr>
      <tr>
          <th>
              Enabled:
          </th>
          <td>
              <%= form.check_box :enabled, :style=>"width:20px;" %>
          </td>
      </tr>
      <tr>
          <th>
              Featured Index:
          </th>
          <td>
              <%= form.text_field :featured_index %>
          </td>
      </tr>			
      <tr>
          <th>
              Google Key:
          </th>
          <td>
              <%= form.text_field :google_key %>
          </td>
      </tr>     
      <tr>
          <th>
              Facebook Key:
          </th>
          <td>
              <%= form.text_field :facebook_key %>
          </td>
      </tr>     
  </table>
  
	<div><i>Note: providing google key/locale will enable google suggestions for that language.</i></div>

  <%= render :partial => "/tr8n/admin/common/lightbox_buttons" %>
<% end %>
