<%= tr8n_lightbox_header_tag %>
<div class="inner">
    <div class="hd">
        <%= tr8n_lightbox_title_tag(tra("Application Details")) %>
    </div>
    <div class="bd" style="padding-bottom:60px;">
        <%= form_for(@map, :as => :map, :url => {:action => :update_value_map}, :html => {:id => 'tr8n_form', :method => :post, :class => "tr8n"}) do |form| %>
        <%= hidden_field_tag :map_id, @map.id %>
        <%= hidden_field_tag(:origin, params[:origin]) %>
        <table cellpadding="0" celspacing="0">
            <tr style="border:1px dotted #ccc; background-color:#FDFFF0;">
                <th style="padding:2px; width:20%; vertical-align:middle">
                    <%=tra("Keyword:") %>
                </th>
                <td style="padding:2px;">
                    <%= form.text_field :key, :style=>"width:100%; border:1px solid red;" %>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-bottom:5px;">
                    &nbsp;
                </td>
            </tr>
            <% tr8n_current_language.cases.each do |lcase| %>
            <tr>
                <th style="padding:2px;">
                    <%=lcase.native_name %>:
                </th>
                <td style="padding:2px;">
                    <%= text_field_tag "map[map][#{lcase.keyword}]", @map.implied_value_for(lcase.keyword), :style=>"width:100%;" %>
                    <div style="color:#ccc;">
                        <%=lcase.description %>
                    </div>
                </td>
            </tr>
            <% end %>
        </table>
        <% end %>
    </div>
    <div class="ft">
        <%= tr8n_lightbox_buttons_tag %>
    </div>
</div>
<%= tr8n_lightbox_footer_tag %>
