<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs", :locals => {:current_tab => "Language Details"} %>

<table class="admin_table">
    <tr>
        <th width="160">
            Language Id
        </th>
        <td>
            <%=@lang.id %>
        </td>
    </tr>
    <tr>
        <th>
            Locale
        </th>
        <td>
            <%=@lang.locale %>
        </td>
    </tr>
    <tr>
        <th>
            English Name
        </th>
        <td>
            <%=@lang.english_name %>
        </td>
    </tr>
    <tr>
        <th>
            Native Name
        </th>
        <td>
            <%=@lang.native_name %>
        </td>
    </tr>
    <tr>
        <th>
            Enabled
        </th>
        <td>
            <%=@lang.enabled? %>
        </td>
    </tr>
    <tr>
        <th>
            Right to Left
        </th>
        <td>
            <%=@lang.right_to_left? %>
        </td>
    </tr>
    <tr>
        <th>
            Completeness
        </th>
        <td>
            <%=@lang.completeness || 0 %>%
        </td>
    </tr>
    <tr>
        <th>
            Created At
        </th>
        <td>
            <%=@lang.created_at %>
        </td>
    </tr>    
    <tr>
        <th>
            Updated At
        </th>
        <td>
            <%=@lang.updated_at %>
        </td>
    </tr>    
    <tr>
        <th>
            
        </th>
        <td>
        	<%=link_to_function("Update", "tr8nLightbox.show('/tr8n/admin/language/lb_update?lang_id=#{@lang.id}', {height:300})") %>
          |
          <%=link_to("View Users", "/tr8n/admin/language/users?wf_c0=language_id&wf_o0=is&wf_v0_0=#{@lang.id}") %>
					|
          <%=link_to("View Translations", "/tr8n/admin/translation/index?wf_c0=language_id&wf_o0=is&wf_v0_0=#{@lang.id}") %>
          |
          <%=link_to("View Metrics", "/tr8n/admin/language/metrics?wf_c0=language_id&wf_o0=is&wf_v0_0=#{@lang.id}") %>
          |
          <%=link_to("View Forum Topics", "/tr8n/admin/forum/index?wf_c0=language_id&wf_o0=is&wf_v0_0=#{@lang.id}") %>
        </td>
    </tr>    
</table>


<h1>
  <span style="font-size:12px; float:right; padding-top:10px;">
    <%=link_to("view all", "/tr8n/admin/language/rules") %>
  </span> 
	
	Language Rules
</h1>
<%= render :partial => "rules", :locals => {:rules => @lang.rules}%>


<%= render :partial => "/tr8n/admin/common/footer" %>
