<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs", :locals => {:current_tab => "Language Details"} %>

<table class="admin_table">
    <tr>
        <th width="160">
            Language Id
        </th>
        <td>
            <%=@lang.id %>
        </td>
    </tr>
    <tr>
        <th>
            Locale
        </th>
        <td>
            <%=@lang.locale %>
        </td>
    </tr>
    <tr>
        <th>
            English Name
        </th>
        <td>
            <%=@lang.english_name %>
        </td>
    </tr>
    <tr>
        <th>
            Native Name
        </th>
        <td>
            <%=@lang.native_name %>
        </td>
    </tr>
    <tr>
        <th>
            Google Key
        </th>
        <td>
            <%=@lang.google_key %>
        </td>
    </tr>
    <tr>
        <th>
            Facebook Key
        </th>
        <td>
            <%=@lang.facebook_key %>
        </td>
    </tr>
    <tr>
        <th>
            MyHeritage Key
        </th>
        <td>
            <%=@lang.myheritage_key %>
        </td>
    </tr>    

    <tr>
        <th>
            Enabled
        </th>
        <td>
            <%=@lang.enabled? %>
        </td>
    </tr>
    <tr>
        <th>
            Right to Left
        </th>
        <td>
            <%=@lang.right_to_left? %>
        </td>
    </tr>
    <tr>
        <th>
            Completeness
        </th>
        <td>
            <%=@lang.completeness || 0 %>%
        </td>
    </tr>
        
    <tr>
        <th>
            Created At
        </th>
        <td>
            <%=@lang.created_at %>
        </td>
    </tr>    
    <tr>
        <th>
            Updated At
        </th>
        <td>
            <%=@lang.updated_at %>
        </td>
    </tr>    
    <tr>
        <th>
            
        </th>
        <td>
        	<%=link_to_function("Update", "Tr8n.UI.Lightbox.show('/tr8n/admin/language/lb_update?lang_id=#{@lang.id}', {height:450})") %>
        </td>
    </tr>    
</table>


<%=  tr8n_sections_tag(:modes => [
            ["Metrics",   {:mode => :metrics}],
            ["Language Rules",   {:mode => :context_rules}],
            ["Language Cases",   {:mode => :cases}],
            ["Language Case Rules",   {:mode => :case_rules}],
            ["Language Case Exceptions",   {:mode => :case_exceptions}],
        ],
        :params => {
            :lang_id => @lang.id
        }
) %>

<%= render :partial => "/tr8n/admin/common/footer" %>
