<center>
    <br>
    <h1><%=tra("#{Tr8n::Config.site_title} Translator Login") %></h1>
    <% form_tag(:controller=>"/tr8n/translator", :action => :login) do %>
    <table style="border:1px solid #ccc; padding:10px;">
        <tr>
            <td>
                <%=tra('Login:') %>
            </td>
            <td>
                <%=text_field_tag :login, params[:login], :style => "width:250px" %>
            </td>
        </tr>
        <tr>
            <td>
                <%=tra('Password:') %>
            </td>
            <td>
                <%=password_field_tag :password, "", :style => "width:250px" %>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;padding-top:10px;vertical-align:middle;">
                <%=submit_tag trla('Login') %> 
            </td>
        </tr>
    </table>
    <br>
    
    <%=tra("Don't have an account? [link: Register here].", "", :link => ["/tr8n/translator/register", ""])%>
    <br>
    <br>
    
    <% end %>
</center>
