<div class="section_title">
  <div style="<%=tr8n_style_attribute_tag('float', 'right')%>; padding-top:3px;">
    <% if mode == :view %>
      <%=link_to_function("#{image_tag("/tr8n/images/table_edit.png")}", "switchSectionMode('#{section}', 'edit')") %>
    <% else %>
      <%=link_to_function(image_tag("/tr8n/images/disk.png"), "submitSection('#{section}')")%>
      <%=link_to_function(image_tag("/tr8n/images/cancel.png"), "switchSectionMode('#{section}', 'view')")%>
    <% end %>  
  </div>

  <%=tra(label, description) %>
</div>
