<div style="margin:5px;padding:5px;background:white; border-bottom:2px solid #eee">
  <div style="float:<%=tr8n_current_language.align(:right)%>">
    <!-- span style="color:#ccc;font-size:12px;"><%=notification.key%></span -->
    <%=link_to(image_tag("tr8n/close.gif", :style => "border:0px; padding:5px;", :alt=>trla("Remove")), {:action => :delete_notification, :id => notification.id}) %>
  </div>

  <table style="width:90%">
    <tr>
      <td style="padding-right:5px; width:60px;vertical-align:top;">
        <div style="padding:3px;border:1px solid #eee;display:inline-block;">
          <%=tr8n_translator_mugshot_tag(notification.actor, :linked => true)%>
        </div>
      </td>
      <td>
        <div style="font-weight:bold; background:white; padding:3px; font-size:12px;">
          <%= notification.title %>
        </div>

        <% if notification.has_excerpt? %>
          <% if notification.excerpt == :translation %>
            <div style="margin-top:10px; padding:5px;font-size:12px; max-height:50px; overflow:auto;">
              <%=image_tag("tr8n/left_quote.png", :style=>"text-align:bottom;padding-bottom:5px;") %>
              <%=notification.translation.label %>
              <%=image_tag("tr8n/right_quote.png", :style=>"text-align:bottom;padding-top:5px;") %>
            </div>

            <div>
              <%= render(:partial => "/tr8n/translator/notifications/phrase", :locals => {
                                      :translation_key => notification.translation.translation_key, 
                                      :language => notification.translation.language
                                    }) %>
            </div>
          <% else %>    
            <%= render :partial => "/tr8n/translator/notifications/#{notification.key}", :locals => {:notification => notification} %>
          <% end %>
        <% end %>

        <div style="padding-top:5px;color:#ccc;font-size:10px;">
          <% if notification.language %>
            <%= tr8n_language_flag_tag(notification.language) %> &nbsp;
          <% end %>
          <%= tr8n_when_string_tag(notification.created_at) %>
        </div>
      </td>
    </tr>
  </table>  

</div>