<% Tr8n::Config.with_options(:default_locale => 'en-US', :admin => true) do %>

  <%= render :partial => "/tr8n/common/header" %>
  
  <div class="section_title">
    <%= render :partial => "/tr8n/translator/sections" %>
    <%=tra("Your Notifications") %>
  </div>

  <div class="section_box colored" style="margin-top:10px; margin-bottom:10px; padding:10px;">
    <% if @notifications.any? %>
      <%= render :partial => "/tr8n/common/paginator", :locals => {:objects => @notifications, :subject => 'notification'} %>
    <% end %>

    <% @notifications.each do |n| %>
      <% next unless n.valid? %>
      <%= render :partial => "/tr8n/translator/notifications/#{n.key}", :locals => {:notification => n} %>
    <% end %>

    <% if @notifications.empty? %>
      <%=tr("You don't have any notifications yet.") %>
    <% end %>
  </div>

  <%= render :partial => "/tr8n/common/footer" %>

<% end %>  