<title><%=trl("Tr8n Translation Services")%></title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= tr8n_scripts_tag %>

<%= stylesheet_link_tag    "tr8n/styles", :media => "all" %>
