<div class="original_text">
  <div class="supplemental">
  	<% if @map.id %>
      <%=link_to_function(image_tag("tr8n/exclamation.png", :title=>trla("Report these language case values")), "Tr8n.postMessage('tr8n:language_case_map:report:#{@map.id}')")%>
		<% end %>
    <%= tr8n_help_icon_tag %>
  </div>
  
  <div class="quiet small"><%=trl("Original Word")%></div>
  <div class="quote">
    <%=image_tag("tr8n/left_quote.png") %>
    <%=@map.keyword %>
    <%=image_tag("tr8n/right_quote.png") %>
  </div>
</div>

<%=tr8n_spinner_tag("tr8n_language_case_submit_spinner", "Saving...")%>
<%=tr8n_spinner_tag("tr8n_language_case_report_spinner", "Reporting...")%>
