<div class="original_text">
  <div class="supplemental">
    <%=link_to_function(image_tag("/tr8n/images/exclamation.png", :title=>trl("Report these language case values")), "tr8nLanguageCaseManager.reportCaseMap('#{@map.id}')")%>
    <%= tr8n_help_icon_tag %>
  </div>
  
  <div class="quiet small"><%=trl("Original Word")%></div>
  <div class="quote">
    <%=image_tag("/tr8n/images/left_quote.png") %>
    <%=@map.keyword %>
    <%=image_tag("/tr8n/images/right_quote.png") %>
  </div>
</div>

<%=tr8n_spinner_tag("tr8n_language_case_submit_spinner", "Saving...")%>
<%=tr8n_spinner_tag("tr8n_language_case_report_spinner", "Reporting...")%>
