<%= tr8n_with_options_tag(:default_locale => 'en-US', :admin => true) do %>

	<%= render :partial => "/tr8n/common/header" %>
	
	<div class="section_title">
	  <%=tra("Language Case Values") %>
	</div>
	
	<div style="background:#EFF8FF; border: 1px dotted #ccc; padding:10px;">
	  <%= form_tag({:action => :index}, {:method => :get, :id => "case_search_form"}) do %>
	      <div style="float:right">
	        <button type="submit" class="translator_btn translator_small_btn" onClick="Tr8n.Effects.submit('case_search_form'); return false;">
	            <span><%=tra("Search", "Search button label")%></span>
	        </button>
	      </div>
	      
	      <%=text_field_tag(:search, params[:search], {:style => "width:90%;font-size:12px;"})%>
	  <% end %>
	</div>
	
	<div style="margin-top:10px; margin-bottom:10px; border: 1px dotted #ccc; padding:10px;">
		<%= tr8n_paginator_tag(@maps, :subject => 'case map') %>	
	  
		<table>
			<tr style="border-bottom:1px solid #ccc;">
				<th class="topic_header"><%=tra("Keyword Noun")%></th>
	    	<% tr8n_current_language.cases.each do |lcase| %>
		      <th class="topic_header"><%=lcase.native_name%></th>
			  <% end %>
				<th></th>
			</tr>
			
			<% @maps.each do |map| %>
			  <tr style="border-bottom:1px dotted #ccc;">
				  <td style="padding:2px; font-weight:bold;">
					  <span case_key="<%=map.keyword%>" case_id="" rule_id="" class="tr8n_language_case"><%=map.keyword%></span>
					</td>
		      <% tr8n_current_language.cases.each do |lcase| %>
		        <td style="padding:2px;"><%=map.implied_value_for(lcase.keyword) %></td>
		      <% end %>
					<td style="text-align:right; vertical-align:top; width:60px; padding:2px;">
						<%=link_to(image_tag("/tr8n/images/cross.png"), "/tr8n/language_cases/delete_value_map?map_id=#{map.id}", :confirm => trla("Are you sure you want to delete this case map?"))%>
					</td>
				</tr>
			<% end %>
			
		</table>
	
		<%= tr8n_paginator_tag(@maps, :subject => 'case map') %>	
	</div>
	
	<%= render :partial => "/tr8n/common/footer" %>
	
<% end %>