<% color = translation.key.locked? ? "#ECFFEF" : "#FDFDDF" %>
<div class="tr8n_txtl" style="font-size: 11px; color: grey; margin-top:5px; margin-bottom:5px; padding:5px; background:<%=color%>; border:1px dotted #ccc;">
  <% if translation.key.locked? %>
    <div class="tr8n_fltr"><%=image_tag("tr8n/lock.png", :style=>"width:12px", :title => trla("This phrase is locked"))%></div>
  <% end %>

  <%=tra("Original Phrase:")%> 
  <span dir='ltr'>
  <%=link_to(translation.key.sanitized_label, :controller => "/tr8n/phrases", :action => :view, :locale => translation.language.locale, :translation_key_id => translation.key.id) %>
  </span>

  <% unless translation.key.description.blank? %>
    <div class="tr8n_txtl" style="padding-top:10px;"><%= translation.key.description %></div>
  <% end %>  
</div>
