<% color = translation.key.locked? ? "#ECFFEF" : "#FDFDDF" %>
<div style="font-size: 11px; color: grey; margin-top:5px; margin-bottom:5px; padding:3px; background:<%=color%>; border:1px dotted #ccc;">
  <% if translation.key.locked? %>
    <div style="float:right"><%=image_tag("tr8n/lock.png", :style=>"width:12px", :title => trla("This phrase is locked"))%></div>
  <% end %>

  <%=tra("Original Phrase:", "Translation section header")%> <%=link_to(translation.key.sanitized_label, :controller => "/tr8n/phrases", :action => :view, :locale => translation.language.locale, :translation_key_id => translation.key.id) %>
  <% unless translation.key.description.blank? %>
    <div style="padding-top:2px;"><%= translation.key.description %></div>
  <% end %>  
</div>
