<%= tr8n_with_options_tag(:default_locale => 'en-US', :admin => true) do %>
	<%= render :partial => "/tr8n/common/header" %>
	
	<div class="section blue">
	  <%= form_tag({}, {:method => :get, :id => "translations_search_form"}) do %>
	     <%=hidden_field_tag(:section_key, @section_key) %>
	     <div style="float:right">
	          <button type="submit" class="translator_btn translator_small_btn" onClick="Tr8n.Effects.submit('translations_search_form'); return false;">
	              <span><%=tra("Search")%></span>
	          </button>
	     </div>
			 
	    <%=text_field_tag(:search, params[:search], {:style => "width:90%;font-size:12px;height:20px"})%><br>
      <div style="margin-top:10px; padding:3px; font-size:11px; color:#666; font-weight:bold;">
          <%=tra("Show")%>
          <%=select_tag(:with_status, options_for_select(Tr8n::Translation.filter_status_options, params[:with_status]))%>
          <%=tra("submitted by")%>
          <%=select_tag(:submitted_by, options_for_select(Tr8n::Translation.filter_submitter_options, params[:submitted_by]))%>
          <%=tra("created on")%>
          <%=select_tag(:submitted_on, options_for_select(Tr8n::Translation.filter_date_options, params[:submitted_on]))%>
	    </div>
	  <% end %>
	</div>
	
	<div class="section">
	  <%= render :partial => "list", :locals => {:language => tr8n_current_language, :translations => @translations, :mode => :list} %>
	</div>
	
	<%= render :partial => "/tr8n/common/footer" %>
<% end %>