<div style="padding:10px; padding-bottom:0px;">
  <%= render(:partial => "translator_header")%>
  
  <div class="section">
    <div class="small_section_title">
      <div style="float:right;font-weight:normal;font-size:10px">
        <%=link_to(trl("view all"), {:controller => "/tr8n/phrases", :action => :view, :translation_key_id => @translation_key.id, :target => "_new"}) %>
      </div>
      <strong><%=trl("Vote on Translations")%></strong>
    </div>
  
    <div id="tr8n_translator_votes_for_<%=@translation_key.key%>" class="votes_container">
      <%= render :partial => "translation_votes", :locals => {:translation_key => @translation_key, :translations => @translations, :section_key => @section_key} %>
    </div>
  
    <div style="padding-top:10px;font-size:11px">
      <%=trl("Don't like any of these?")%> 
	  <%=link_to_function(trl('Translate it yourself.'), "switchTranslatorMode('#{@translation_key.id}', 'submit', '#{@source_url}')") %>
    </div>
  </div>
</div>


<script>
  function switchTranslatorMode(translation_key_id, mode, source_url) {
    Tr8n.Utils.update('tr8n_translator_container', '/tr8n/firefox/translator', {
      parameters: {translation_key_id: translation_key_id, mode: mode, source_url: source_url},
      evalScripts: true
    });
  }
</script>