<div style="padding-top:0px;padding-bottom:15px;<%=tr8n_style_attribute_tag('text-align', 'left')%>;font-size:12px; margin-bottom: 0px;">
  <% if controller.action_name == "index" %>
    <div style="<%=tr8n_style_attribute_tag('float', 'right')%>">
      <div class="tr8n_progress_bar" style="display:inline-block"><div class="tr8n_progress_indicator" style="width:<%=@translated%>%"></div></div>
      <div style="display:inline-block;vertical-align:top;font-size:12px;padding-left:10px;"><%=tr("{count}% Translated", nil, :count => @translated)%></div>
      &nbsp;&nbsp;
      <div class="tr8n_progress_bar" style="display:inline-block"><div class="tr8n_progress_indicator" style="width:<%=@locked%>%"></div></div>
      <div style="display:inline-block;vertical-align:top;font-size:12px;padding-left:10px;"><%=tr("{count}% Locked", nil, :count => @locked)%></div>
    </div>  
  <% end %>
<% if @section_key %>
      <%=link_to(tra("Site Map"), :action => :map)%> 
			<% @section.parents[1..-1].each do |section| %>
        &raquo; <%=link_to(tra(section.label, section.description), :action => :index, :section_key => section.key) %>
			<% end %>	
      <% if @translation_key %>
      &raquo; <%=link_to(@translation_key.label, :action => :view, :translation_key_id => @translation_key.id, :section_key => @section.key) %>
      <% end %>
<% else %>
      <%=link_to(tra("Site Map"), :action => :map)%> 
      &raquo;
      <%=link_to(tra("All Phrases"), :action => :index)%> 
      <% unless params[:source].blank? %>
        &raquo;
        <%=link_to(params[:source], params)%> 
      <% end %>
<% end %>
</div>
