<div id="comments_module">
	<div class="section_title">
		<%=tr8n_toggler_tag("comments_content")%>
	  <%=tra("Comments") %>
		<a name="comments">&nbsp;</a>
	</div>

	<div class="section" id="comments_content">
		<div style="margin-bottom:10px;">
			<% if @comments.any? %>
				<%=tr8n_paginator_tag(@comments, "comment")%>
			
			  <table style="width:100%; ">
			    <% @comments.each do |comment| %>
			      <%
			        style = (comment == @comments.last ? "" : "border-bottom:1px dotted #ccc;" )
			      %>  
			      <tr style="<%=style%>">
			        <%= render :partial => "comment", :locals => {:comment => comment} %> 
			      </tr>
			    <% end %>
			  </table>
			<% else %>
			    <%=tra("This phrase has no comments.")%>
	    <% end %>		
		</div>
	  <%= render :partial => "new_comment" %>  
	</div>
</div>

