<div style="background:#FDFFF0; border:1px #ccc dotted; margin-bottom:10px; padding:5px; ">
  <% def_size = @definitions.values.sum{|v| v.size} %>
  <%= trla("Found {def_count||definition} for {word_count||word}:", "", :def_count => def_size, :word_count => @definitions.keys.size) %>
  <%= (sorted_words = @definitions.keys.sort).collect{|w| "<strong>#{w}</strong>".html_safe}.join(", ").html_safe %>
</div>

<table style="width:100%">
 <% sorted_words.each do |word| %>
    <% @definitions[word].each do |definition| %>
	   <tr style="border-bottom:1px solid #ccc;">
	     <th style="text-align:left;color: #ccc;font-size:14px; font-family:arial; width:200px;"><%=trla("Word")%></th>
	     <th style="text-align:left;color: #ccc;font-size:14px; font-family:arial;"><%=trla("Definition")%></th>
	     <th style="text-align:left;color: #ccc;font-size:14px; font-family:arial;"><%=trla("Source")%></th>
	   </tr>
	    <tr style="border-bottom:1px dotted #ccc;">
			  <td style="vertical-align:top; font-size:12px; font-family:arial; font-weight:bold;"><%=word%></td>
        <td>
        	 <pre style="font-size:12px; font-family:arial"><%=definition[:definition]%></pre>
        </td>
        <td style="vertical-align:top; font-size:12px; font-family:arial;">
            <%=definition[:source]%>
        </td>
	    </tr>
		<% end %>
 <% end %>
</table>


