<div id="permutations_module" class="section grey" style="display:none">
	<%= form_for(@translation, :as => :translation, :url => {:controller => "/tr8n/translations", :action => :permutate}, :html => {:id => 'permutation_form', :method => :post}) do |f| %>
	    <%= hidden_field_tag(:translation_key_id, @translation_key.id) %>
	    <%= hidden_field_tag(:source_url, @source_url) %>
	    <%= hidden_field_tag(:translation_has_dependencies, "true") %>
	
      <div class="section_title">
		    <%=trla("Context Rules")%>
		  </div>
	
      <div style="color:grey; font-size:12px; padding-top:5px; padding-bottom:10px;">
       <%=trla("Some translations depend on the gender of the viewing user or the token values.")%>
       <%=trla("Select all of the rules types that this translation depends on.")%>
       <%=trla("For example, if the translation depends on the gender of the viewing user, select the gender context for the viewing_user token.")%>
      </div>

      <div class="section blue" style="" >
        <%=render :partial => "/tr8n/common/permutations" %>
      </div>

	<% end %>


  <div id="buttons_container" style="padding-top:15px;padding-bottom:5px;text-align:center">
	    <button type="submit" class="translator_btn translator_submit_btn" onClick="Tr8n.Effects.submit('permutation_form'); return false;">
	        <span><%=trla("Generate")%></span>
	    </button>
       or <%= link_to_function(trla("Cancel"), "viewTranslations()") %>
	</div>
</div>