<div id="translation_module" class="section_box colored" style="display:none">
	<div style="font-size:17px;padding-bottom:3px;font-weight:bold;">
	  <%=trl("Translation for #{tr8n_current_language.english_name} Language")%>
	</div>
	
	<% form_for(:translation, @translation, :url => {:controller => "/tr8n/translations", :action => :translate}, :html => {:id => 'translation_form', :method => :post}) do |f| %>
		  <%= hidden_field_tag(:translation_id, @translation.id) %>
		  <%= hidden_field_tag(:new_translation, (@translation.id == nil).to_s ) %>
		  <%= hidden_field_tag(:translation_key_id, @translation_key.id) %>
		  <%= hidden_field_tag(:translation_has_dependencies, "false") %>
		  <%= hidden_field_tag(:section_key, @section_key) %>
		  
			<div style="padding-bottom:10px;">  
		    <%= f.text_area(:label, :id => "tr8n_translation_label_#{@translation_key.id}", :style=>"width:99%;height:60px;border:1px solid #ccc;background-color:white;padding:3px;", :class => "keyboardInput" ) %>
		  </div>
			
		  <% if @translation_key.translation_tokens? or tr8n_current_language.has_rules? %>
          <%= render(:partial => "tokens") %>
			<% end %>		
	
			<% if Tr8n::Config.enable_google_suggestions? and tr8n_current_language.suggestible? %>  
				<div id="tr8n_google_suggestion_container_<%=@translation_key.id%>" style="display:none; padding-bottom:10px;">
				    <div class="section_title">
				        <%=trl("Suggested Translation")%>
				    </div>
				    
				    <%=image_tag("/tr8n/images/left_quote.png", :style=>"text-align:bottom;padding-bottom:5px;") %>
				    <a onclick="Tr8n.element('tr8n_translation_label_<%=@translation_key.id%>').value=Tr8n.element('tr8n_translation_suggestion_<%=@translation_key.id%>').innerHTML; return false;" href="#">
				       <span id="tr8n_translation_suggestion_<%=@translation_key.id%>" style="font-size:12px;"></span>
				    </a>
				    <%=image_tag("/tr8n/images/right_quote.png", :style=>"text-align:bottom;padding-top:5px;") %>
				    
            <% sanitized_label = @translation_key.tokenless_label.gsub('"', '\"') %>
				    <script type="text/javascript">
					    window.setTimeout(function() {
                  tr8nTranslator.suggestTranslation("<%=@translation_key.id %>", "<%=sanitized_label %>", "<%=@translation_key.suggestion_tokens.join(',')%>", "<%=tr8n_current_language.google_key%>");
					    }, 500);				    	
				    </script>
				  
				    <div style="color:grey; font-size:12px; padding-top:10px;">
				       <%=trl("Click on the suggested translation to insert it into the label")%>
				    </div>
				</div>
			<% end %>
			
			<% if Tr8n::Config.enable_glossary_hints? and @translation_key.glossary? %>
				<div id="tr8n_glossary_container" style="padding-top:5px; padding-bottom:10px;">
				    <div class="section_title">
				      <%=trl("Glossary")%>
				    </div>
				    
				    <div style="max-height:300px; overflow:auto;">
				      <table style="width:100%">
				        <% @translation_key.glossary.each do |term| %>
				            <% border_style = "border-bottom: 1px dotted #ccc;" unless @translation_key.glossary.last == term %>
				            <tr style="<%=border_style%>">
				              <td style="padding-right:6px; padding-bottom:3px; vertical-align:top; font-size:10px;"><strong><%=term.keyword%></strong></td>
				              <td style="padding-bottom:3px; vertical-align:top; font-size:10px;"><%=term.description%></td>
				            </tr>
				        <% end %>
				      </table>
				    </div> 
				    
				    <div style="color:grey; font-size:12px; padding-top:10px;">
				       <%=trl("Review the glossary definition to make sure it fits well with the meaning of your translation")%>
				    </div>
				</div>
			<% end %>
		
      <% if Tr8n::Config.enable_dictionary_lookup? %>
	      <div id="tr8n_dictionary_container" style="padding-top:5px; padding-bottom:10px;">
						<div class="section_title">
						  <%=trl("Dictionary Definitions for Original Phrase in English")%>
						</div>
	          
						<div id="tr8n_dictionary_opener" style="font-size:12px; font-weight:normal;">
							  <%=link_to_function(trl("Click here to download dictionary definitions for the phrase words"), "downloadDictionaryDefinitions(); ") %>
						</div>	
	
	          <div id="tr8n_dictionary_shower" style="display:none; font-size:12px; font-weight:normal;">
	              <%=link_to_function(trl("show dictionary definitions"), "Tr8n.Effects.hide('tr8n_dictionary_shower'); Tr8n.Effects.show('tr8n_dictionary_hider'); Tr8n.Effects.appear('tr8n_dictionary'); Tr8n.Effects.scrollTo('buttons_container');") %>
								&raquo;
	          </div>  
	
	  			  <%=tr8n_spinner_tag("tr8n_dictionary_spinner", "Downloading words definitions...") %>
						
						<div id="tr8n_dictionary" style="height:300px; overflow:auto; display:none; background: #EFF8FF; border: 1px dotted #ccc; padding: 5px;">
						</div>
	
	          <div id="tr8n_dictionary_hider" style="display:none; font-size:12px; font-weight:normal;">
	             <%=link_to_function(trl("&laquo; hide dictionary definitions"), "Tr8n.Effects.hide('tr8n_dictionary_hider'); Tr8n.Effects.show('tr8n_dictionary_shower'); Tr8n.Effects.fade('tr8n_dictionary'); ") %>
	          </div>  
			  </div>	
      <% end %>
		
		  <div id="buttons_container" style="padding-top:5px;padding-bottom:5px;text-align:center">
		      <button type="submit" class="translator_btn translator_submit_btn" onClick="submitTranslation(); return false;">
		          <span><%=trl("Translate")%></span>
		      </button>
		      or <%= link_to_function(trl("Cancel"), "viewTranslations()") %>
		  </div>
	
	<% end %>
</div>

<script>
	function submitTranslation() {
		if (Tr8n.value("tr8n_translation_label_<%=@translation_key.id%>") == "") {
			 alert("<%=trl('Translation must be provided.')%>");
			 return;
	  }
    Tr8n.Effects.submit('translation_form');
	}
	
	function downloadDictionaryDefinitions() {
		Tr8n.Effects.hide('tr8n_dictionary_opener'); 
		Tr8n.Effects.show('tr8n_dictionary_spinner'); 
    Tr8n.Utils.update('tr8n_dictionary', '/tr8n/phrases/dictionary', {
      parameters: {translation_key_id:"<%=@translation_key.id%>"},
      onComplete: function(response) {
        Tr8n.Effects.hide('tr8n_dictionary_spinner');
				Tr8n.Effects.appear('tr8n_dictionary');
        Tr8n.Effects.scrollTo('buttons_container');
        Tr8n.Effects.show('tr8n_dictionary_hider');
      }
    });
	}
</script>