<%= render :partial => "/tr8n/common/header" %>
<%= render :partial => "breadcrumb" %>

<div style="background:#EFF8FF; border: 1px dotted #ccc; padding:10px;">
  <% form_tag({:action => :index}, {:method => :get, :id => "translations_search_form"}) do %>
      <%=hidden_field_tag(:section_key, @section_key) %>
		  <div style="float:right">
        <button type="submit" class="translator_btn translator_small_btn" onClick="Tr8n.submit('translations_search_form'); return false;">
            <span><%=trl("Search")%></span>
        </button>
		  </div>
			
    	<%=text_field_tag(:search, params[:search], {:style => "width:90%;font-size:12px;"})%><br>
			<div style="padding-top:5px;">
          <%=trl("Show phrases")%>
          <%=select_tag(:phrase_type, tr8n_options_for_select(Tr8n::TranslationKey.filter_phrase_type_options, params[:phrase_type]), :onChange => "toggleFilterOptions()")%>
          <span id="extended_filter_options" style="<%='display:none' unless params[:phrase_type]=="with" %>">
            <%=trl("marked as")%>
            <%=select_tag(:phrase_status, tr8n_options_for_select(Tr8n::TranslationKey.filter_phrase_status_options, params[:phrase_status]))%>
          </span>
      </div>					
  <% end %>
</div>

<div style="margin-top:10px; margin-bottom:10px; border: 1px dotted #ccc; padding:10px;">
  <%= render :partial => "/tr8n/common/paginator", :locals => {:objects => @translation_keys, :subject => 'phrase'} %>

  <table style="width:100%">
    <tr style="border-bottom:2px solid #ccc;">
       <td style="width:30%;padding:5px; background: #f9f8f7; font-size:16px; color:grey; ">
			   <%=trl("English Phrase")%>
			 </td>
       <td style="width:70%;padding:5px; font-size:16px; color:grey; " colspan="2">
			   <%=trl("Top #{tr8n_current_language.english_name} Translations") %>
			 </td>
    </tr>  
    <% @translation_keys.each do |tk| %>
      <tr style="border-bottom:1px solid #ccc;">
        <% color = tk.locked? ? "#ECFFEF" : "#FDFDDF" %>
        <td style="padding:5px; background: <%=color%>; ">
          <% if tk.locked? %>
            <div style="float:right"><%=image_tag("/tr8n/images/lock.png", :style=>"width:12px", :title => trl("This phrase is locked"))%></div>
          <% end %>
          <%=link_to(tr8n_current_language.translate(tk.label, tk.description, {}, {:default_language => true}), :action => :view, :translation_key_id => tk.id, :section_key => @section_key)%>
          <div style="color:grey;font-size:10px;padding-top:3px;"><%=tk.description%></div>
        </td>
        <td style="padding:5px; vertical-align:top">
          <div id="tr8n_translator_votes_for_<%=tk.key%>">
            <%= render :partial => "/tr8n/common/translation_votes", :locals => {:translation_key => tk, :translations => tk.translations_for(tr8n_current_language)[0..4], :section_key => @section_key} %>
          </div>  
        </td>
      </tr>
    <% end %>
  </table>
  
  <%= render :partial => "/tr8n/common/paginator", :locals => {:objects => @translation_keys, :subject => 'phrase'} %>
</div>
<%= render :partial => "/tr8n/common/footer" %>

<script>
  function toggleFilterOptions() {
    if (Tr8n.element("phrase_type").value == "with") {
      Tr8n.show("extended_filter_options");
    } else {
      Tr8n.hide("extended_filter_options");
    }
  }
</script>
