<% Tr8n::Config.with_options(:default_locale => 'en-US', :admin => true) do %>
	<%= render :partial => "/tr8n/common/header" %>
	<%= render :partial => "breadcrumb" %>
	
  <div class="section_box" style="margin-bottom:10px; background-color:#EFF8FF; margin-top:0px;">
	  <% form_tag({:action => :index}, {:method => :get, :id => "translations_search_form"}) do %>
	      <%=hidden_field_tag(:section_key, @section_key) %>
			  <div style="float:right">
	        <button type="submit" class="translator_btn translator_small_btn" onClick="Tr8n.Effects.submit('translations_search_form'); return false;">
	            <span><%=tra("Search", "Search button label")%></span>
	        </button>
			  </div>
				
	    	<%=text_field_tag(:search, params[:search], {:style => "width:90%;font-size:12px;height:20px"})%><br>
				<div style="margin-top:10px; padding:3px; font-size:11px; color:#666; font-weight:bold;">
	          <%=tra("Search phrases", "Phrases search filter header")%>
	          <%=select_tag(:phrase_type, tr8n_options_for_select(Tr8n::TranslationKey.filter_phrase_type_options, params[:phrase_type]), :onChange => "toggleFilterOptions()")%>
	          <span id="extended_filter_options" style="<%='display:none' unless params[:phrase_type]=="with" %>">
	            <%=tra("marked as", "Phrases search filter option")%>
	            <%=select_tag(:phrase_status, tr8n_options_for_select(Tr8n::TranslationKey.filter_phrase_status_options, params[:phrase_status]))%>
	          </span>
						<%=tra("include", "Phrases search filter option")%>
						<%=select_tag(:phrase_lock, tr8n_options_for_select(Tr8n::TranslationKey.filter_phrase_lock_options, params[:phrase_lock]))%>
	      </div>
									
	  <% end %>
	</div>
	
	<div style="margin-top:10px; margin-bottom:10px; border: 1px dotted #ccc; padding:10px;">
    <% if @translation_keys.any? %>
      <%= render :partial => "/tr8n/common/paginator", :locals => {:objects => @translation_keys, :subject => 'phrase'} %>
    <% end %>
	
	  <table style="width:100%">
	    <tr style="border-bottom:2px solid #ccc;">
	       <td style="width:30%;padding:5px; background: #f9f8f7; font-size:16px; color:grey; ">
				   <%=tra("Original Phrase")%>
				 </td>
	       <td style="width:70%;padding:5px; font-size:16px; color:grey; " colspan="2">
				   <%=tra("Top {language} Translations", nil, :language => tr8n_current_language.native_name) %>
				 </td>
	    </tr>  
	    <% @translation_keys.each do |tk| %>
	      <tr style="border-bottom:1px solid #ccc;">
	        <% color = tk.can_be_translated? ? "#FDFDDF" : "#ECFFEF" %>
	        <td style="padding:5px; background: <%=color%>; ">
	          <% unless tk.can_be_translated? %>
	            <div style="float:right"><%=image_tag("/tr8n/images/lock.png", :style=>"width:12px", :title => trla("This phrase is locked"))%></div>
	          <% end %>
	          <%=link_to(tk.default_decoration, :action => :view, :translation_key_id => tk.id, :section_key => @section_key)%>
	          <div style="color:grey;font-size:10px;padding-top:3px;"><%=tk.description%></div>
	        </td>
	        <td style="padding:5px; vertical-align:top">
	          <div id="tr8n_translator_votes_for_<%=tk.key%>">
	          <% translations = tk.translations_for(tr8n_current_language) %>
				    <% if translations.empty? %>
	            <%= tra("There are no translations for this phrase.") %> 
							<% if tk.can_be_translated? %>
		            <%= tra("Be the first one to [link: translate it].", "", 
		                    :link => lambda{|str| link_to(str, :controller => "/tr8n/phrases", :action => :view, :translation_key_id => tk.id, :section_key => @section_key)}  ) %>
							<% end %>				
				    <% else %>   
	            <%= render :partial => "/tr8n/common/translation_votes", :locals => {:translation_key => tk, :translations => translations[0..4], :section_key => @section_key} %>
						<% end %>	
	          </div>  
	        </td>
	      </tr>
	    <% end %>
	  </table>
	  
		<% if @translation_keys.empty? %>
		    <div style="text-align:left; padding-top:10px; font-size:12px;"><%=trla("No phrases found")%></div>
		<% end %>
		
		<% if @translation_keys.any? %>
	    <%= render :partial => "/tr8n/common/paginator", :locals => {:objects => @translation_keys, :subject => 'phrase'} %>
		<% end %>
	</div>
	<%= render :partial => "/tr8n/common/footer" %>
	
	<script>
	  function toggleFilterOptions() {
	    if (Tr8n.element("phrase_type").value == "with") {
	      Tr8n.Effects.show("extended_filter_options");
	    } else {
	      Tr8n.Effects.hide("extended_filter_options");
	    }
	  }
	</script>
<% end %>