<%= tr8n_with_options_tag(:default_locale => 'en-US', :admin => true) do %>

	<%= render :partial => "/tr8n/common/header" %>
	
	<style>
	  .section_list {
	    margin-left:1em; 
	    padding: 3px;
	    list-style-type:none;
	  }
	  
	  .section_list_item {
	    padding:3px;
	    font-size: 12px;
	  }
	</style>
	
	<%
	    Tr8n::SiteMap.roots.each do |section|
	      next unless section.enabled?
	%>
	
	    <div class="section_title">
	      <%=tra(section.label, section.description)%>
	    </div>
	    
	    <div style="background-color:#f9f8f7;padding:5px;margin-bottom:15px;border: 1px dotted #ccc;">
	      <div style="float:right; padding-right:5px;">
	        <%=tr8n_help_icon_tag %>
	      </div>
	      <div style="padding-left:15px; padding-bottom:20px">
	        <%= tr8n_sitemap(section.children, section.data[:splitters]) %>
	      </div>
	    </div>
	
	<% 
	    end
	%>
	
	<%= render :partial => "/tr8n/common/footer" %>

<% end %>	