<%= render :partial => "/tr8n/common/header" %>
<%= render :partial => "breadcrumb" %>
<%= render :partial => "header" %>

<div id="tranlsations_list">
	<div class="section_box" style="margin-bottom:10px; background-color:#EFF8FF;">
	  <% form_tag({}, {:method => :get, :id => "translations_search_form"}) do %>
	     <%=hidden_field_tag(:section_key, @section_key) %>
	     <%=hidden_field_tag(:translation_key_id, @translation_key.id) %>
	     <div style="padding-top:5px;">
	          <%=trl("Show")%>
	          <%=select_tag(:with_status, options_for_select(Tr8n::Translation.filter_status_options, params[:with_status]), :onChange => "Tr8n.submit('translations_search_form')")%>
	          <%=trl("submitted by")%>
	          <%=select_tag(:submitted_by, options_for_select(Tr8n::Translation.filter_submitter_options, params[:submitted_by]), :onChange => "Tr8n.submit('translations_search_form')")%>
	          <%=trl("created on")%>
	          <%=select_tag(:submitted_on, options_for_select(Tr8n::Translation.filter_date_options, params[:submitted_on]), :onChange => "Tr8n.submit('translations_search_form')")%>
            <%=trl("grouped by")%>
            <%=select_tag(:grouped_by, options_for_select(Tr8n::Translation.filter_group_by_options, params[:grouped_by]), :onChange => "Tr8n.submit('translations_search_form')")%>
	     </div>
	  <% end %>
	</div>
		
	<% if @grouping.empty? %>
    <div class="section_box">
      <%= render :partial => "/tr8n/translations/list", :locals => {:language => tr8n_current_language, :translations => @translations, :mode => :view} %>
    </div>
  <% else %>
	   	<% @grouping.keys.sort.each_with_index do |key, index| %>
				<div class="section_title">
					<% if params[:grouped_by] == "context" %>
					  <div style="float:right; font-size: 12px; font-weight:normal; padding-top:5px;">
					  	<%= link_to_function(trl("+ add translation"), "addTranslation()") %>
					  </div> 
					<% end %>
					
					<%=tr8n_toggler_tag("translations_section_#{index}", "", true)%>
				  <%=key %>
				</div>
        <div id="translations_section_<%=index%>" class="section_box">
          <%= render :partial => "/tr8n/translations/list", :locals => {:language => tr8n_current_language, :translations => @grouping[key], :mode => :view} %>
        </div>
			<% end %>
	<% end %>
  
  <% unless @translation_key.locked? %>
    <div style="font-size: 12px; color: grey; padding-top:15px; padding-bottom:15px;">
    <%= trl("You can only edit or delete translations submitted by you.") %>
		 
		<%= trl("If you don't like any of the translations for this phrase, [link: add your own translation].", "",
          :link => lambda{|str| link_to_function(str, "addTranslation()")}) %>

    <% if @translation_key.permutatable? %>
		    <%=trl("If this translation depends on a {token} or a gender of the viewing user, then [link: generate context rules for this phrase].", "",
		          :token => "{token}",
		          :link => lambda{|str| link_to_function(str, "addContextRules()")}) %>
		<% end %>				 
    </div>
  <% end %>
  
</div>

<%= render :partial => "translate" %>
<%= render :partial => "permutate" %>

<script>
	function addTranslation() {
		Tr8n.hide('tranlsations_list'); 
    Tr8n.hide('permutations');
		Tr8n.show('new_translation');
	}
	
  function addContextRules() {
    Tr8n.hide('tranlsations_list'); 
    Tr8n.hide('new_translation');
    Tr8n.show('permutations');
  }
</script>	

<% if @show_add_dialog %>
	<script>
   Tr8n.Utils.addEvent(window,'load',function(e) {
	    Tr8n.hide('tranlsations_list'); 
	    Tr8n.show('new_translation');
	 });
	</script>	
<% end %>

<%= render :partial => "/tr8n/common/footer" %>
