<%= render :partial => "/tr8n/common/header" %>
<%= render :partial => "breadcrumb" %>
<%= render :partial => "header" %>

<div id="tranlsations_list">
	<div class="section_box" style="margin-bottom:10px; background-color:#EFF8FF;">
	  <% form_tag({}, {:method => :get, :id => "translations_search_form"}) do %>
	     <%=hidden_field_tag(:section_key, @section_key) %>
	     <%=hidden_field_tag(:translation_key_id, @translation_key.id) %>
	     <div style="padding-top:5px;">
	          <%=trl("Show")%>
	          <%=select_tag(:with_status, options_for_select(Tr8n::Translation.search_status_options, params[:with_status]), :onChange => "$('translations_search_form').submit()")%>
	          <%=trl("submitted by")%>
	          <%=select_tag(:submitted_by, options_for_select(Tr8n::Translation.search_submitter_options, params[:submitted_by]), :onChange => "$('translations_search_form').submit()")%>
	          <%=trl("created on")%>
	          <%=select_tag(:submitted_on, options_for_select(Tr8n::Translation.search_date_options, params[:submitted_on]), :onChange => "$('translations_search_form').submit()")%>
	     </div>
	  <% end %>
	</div>
	  
  <div class="section_box">
    <%= render :partial => "/tr8n/translations/list", :locals => {:language => tr8n_current_language, :translations => @translations, :mode => :view} %>
		
		<% if @translations.empty? %>
		  <div style="text-align:center; padding:10px; font-size:12px;"><%=trl("No translations found")%></div>
		<% end %>
  </div>
  
  <% unless @translation_key.locked? %>
    <div style="font-size: 12px; color: grey; padding-top:20px; padding-bottom:15px;">
    <%=trl("You can only edit or delete translations submitted by you. If you don't like any of the translations for this phrase, {add_your_own_link}.", "",
          :add_your_own_link => link_to_function(trl("add your own translation"), "Effect.BlindUp('tranlsations_list', { duration: 0.2 }); Effect.BlindDown('new_translation', { duration: 0.2 });")) %> 
    </div>
  <% end %>
  
</div>

<%= render :partial => "translate" %>

<% if @show_add_dialog %>
	<script>
//    $('tranlsations_list').hide(); 
//    $('new_translation').show();

		window.setTimeout(function() {
	    Effect.BlindUp('tranlsations_list', { duration: 0.2 }); 
	    Effect.BlindDown('new_translation', { duration: 0.2 });
		}, 500);
	</script>	
<% end %>

<%= render :partial => "/tr8n/common/footer" %>
