<% unless lang.recently_added_forum_messages.empty? %>
	<div style="padding-top:10px; font-size:14px; border-bottom:1px solid #ccc; margin-bottom:5px;">
	  <div class="tr8n_fltr" style="font-size:12px;">
	     <%=link_to(tra('view all'), :controller => "/tr8n/forum", :action => :index, :locale => lang.locale)%>
	  </div>
	  
	  <div class="tr8n_txtl">
			<%=tr8n_toggler_tag("forum_content_#{lang.id}", "", false)%>
			<%=tra("Recent Discussions", 'Dashboard section header') %> 
  		<span style="color:#ccc; font-size:12px;">
  			<%=tra("last {count}", "Showing only the last 5 results", :count => 5)%>
  		</span>
		</div>
	</div>
	
	<div id="forum_content_<%=lang.id%>" style="display:none">
		<div class="section">
			<table style="width:100%;">
			  <% lang.recently_added_forum_messages.each do |message| %>
			    <% style = (message == lang.recently_added_forum_messages.last ? "" : "border-bottom:1px dotted #ccc;" ) %>  
			    <tr style="<%=style%>">
		        <%= render :partial => "/tr8n/forum/message", :locals => {:message => message} %>
						<td class="tr8n_txtr" style="padding-right:5px;">
							<%=link_to(tra("view", 'Link to view a forum message'), :controller => "/tr8n/forum", :action => :topic, :locale => lang.locale, :topic_id => message.topic.id)%>
						</td> 
			    </tr>
			  <% end %>
			</table>
		</div>
	</div>
<% end %>