<div class="tr8n_dashboard_chart">
  <div style="font-size:14px; padding:3px;">
    <%=tra("Language Phrases", "Dashboard section header")%>
    <span style="font-size:10px;color:#ccc;">
      (<%= tra("{count}% Complete", "Completeness of a language", :count => (language_metric.completeness || 0)) %>)
    </span>
  </div>

  <%= language_completeness_chart(lang)%>

  <div style="margin:5px; color:#666;text-align:center">
	  <span style="white-space:nowrap;">
	    <span style="background-color:#00FF00;display:inline;white-space:nowrap;">&nbsp;&nbsp;&nbsp</span>
	    <%=tra("Approved:", "Header for approved phrases") %>
	    <%=link_to(language_metric.locked_key_count || 0, 
	              :controller => "/tr8n/phrases", :action => :index, :locale => lang.locale,
	              :phrase_type => :with, :phrase_status => :approved) %>
		</span>						
    &nbsp;&nbsp;		
		
    <span style="white-space:nowrap;">
	    <span style="background-color:#FFFF00;display:inline;white-space:nowrap;">&nbsp;&nbsp;&nbsp;</span>
	    <%=tra("Pending Approval:", "Header for phrases that are pending approval") %>
	    <%=link_to(language_metric.pending_approval_count || 0, 
	                  :controller => "/tr8n/phrases", :action => :index, :locale => lang.locale,
	                  :phrase_type => :with, :phrase_status => :pending) %>
    </span>           

    &nbsp;&nbsp;    
		
    <span style="white-space:nowrap;">
	    <span style="background-color:#FF0000;display:inline;white-space:nowrap;">&nbsp;&nbsp;&nbsp;</span> 
	    <%=tra("Not Translated:", "Header for phrases without translation") %>
	    <%=link_to(language_metric.not_translated_count || 0, 
	                  :controller => "/tr8n/phrases", :action => :index, :locale => lang.locale,
	                  :phrase_type => :without) %>
    </span>           

    <br><br>  		
    <%=tra("Total Phrases:", "Header for total phrase count") %>
    <%=link_to(language_metric.key_count || 0, 
                  :controller => "/tr8n/phrases", :action => :index, :locale => lang.locale) %>
		   
		
	</div>	
  <div style="margin:10px; color:#ccc; text-align:center; width:100%;">
      <%=tra("The statistics are calculated nightly", "Dashboard section header")%>
  </div>
</div>
