<% unless lang.recently_updated_translations.empty? %>
	<div style="padding-top:10px; font-size:14px; border-bottom:1px solid #ccc; margin-bottom:5px;">
    <div class="tr8n_fltr" style="font-size:12px;">
       <%=link_to(tra("view all"), :controller => "/tr8n/translations", :action => :index, :locale => lang.locale)%>
    </div>

    <div class="tr8n_txtl">
      <%=tr8n_toggler_tag("trans_content_#{lang.id}", "", false)%>
  	  <%=tra("Recent Translations", "Dashboard section header")%>
      <span style="color:#ccc; font-size:12px;">
        <%=tra("last {count}", "Showing only the last 5 results", :count => 5)%>
      </span>
    </div>
	</div>
	
	<div id="trans_content_<%=lang.id%>" class="section" style="display:none;">
    <%= render :partial => "/tr8n/translations/list", :locals => {:language => lang, :translations => lang.recently_updated_translations, :mode => :short_list} %>
	</div>	
<% end %>	