<style>
	.translations_table {
		width:100%; background-color:white; 
	  border-radius: 10px;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
		border:solid 1px #e8e8e8;
		border-color:#e8e8e8 #bababa #bababa #e8e8e8;
	}
	.translations_table td {
    padding:3px;
  } 
</style>

<% unless lang.recently_updated_translations.empty? %>
	<div style="padding-top:10px; font-size:14px; border-bottom:1px solid #ccc; margin-bottom:5px;">
    <div style="<%=tr8n_float_style_tag(:right)%>; font-size:12px;">
       <%=link_to(tra("view all"), :controller => "/tr8n/translations", :action => :index, :locale => lang.locale)%>
    </div>

    <%=tr8n_toggler_tag("trans_content_#{lang.id}", "", false)%>
	  <%=tra("Recent Translations")%>
		<span style="color:#ccc; font-size:12px;"><%=tra("last {count}", nil, :count => 5)%></span>
	</div>
	
	<div id="trans_content_<%=lang.id%>" class="translations_table" style="display:none;">
		<div style="margin:10px;">
    <%= render :partial => "/tr8n/translations/list", :locals => {:language => lang, :translations => lang.recently_updated_translations, :mode => :short_list} %>
		</div>
	</div>	
<% end %>	