<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>
	
	<%= render :partial => "/tr8n/common/header" %>
	
	<div class="section_title" <%=tr8n_dir_attribute_tag%>>
		<% if Tr8n::Config.enable_translator_language? %>
		  <div style="<%=tr8n_style_attribute_tag('float', 'right')%>; font-size:12px; padding-top:5px;">
		     <%=link_to(tra("edit preferences", "Translator preferences link"), :controller => "/tr8n/translator", :action => :index)%>
		  </div>
		<% end %>
		
		<div style="<%=tr8n_style_attribute_tag('text-align', 'left')%>"> 
	  	<%=tra("{user}'s Dashboard", "Dashboard section title", :user => [tr8n_current_translator, :name]) %>
		</div>
	</div>
	
	<div class="section yellow" <%=tr8n_dir_attribute_tag%> >
	    <table style="width:100%">
	      <tr>
	        <td style="width:50%; padding-top:3px;">
					  <table>
					    <tr>
					      <td class="tr8n_txtl" style="vertical-align:top; padding-right:2px; padding-left:2px; width:60px;">
					        <%=tr8n_user_mugshot_tag(tr8n_current_translator, :linked => true)%>
					      </td>
					      <td style="vertical-align:top">
									<table>
										<tr>
											<td  class="tr8n_txtl" style="width:150px"><%=tra("Your Overall Rank:") %></td>
											<td class="tr8n_txtl">
									        <%=tr8n_translator_rank_tag(tr8n_current_translator)%>			
											</td>
										</tr>
										<tr>
											<td class="tr8n_txtl"><%=tra("Registered On:") %></td>
											<td class="tr8n_txtl"><%=tr8n_current_translator.created_at.trl%></td>
										</tr>
	                  <tr>
	                    <td class="tr8n_txtl"><%=tra("Your Total Translations:") %></td>
	                    <td class="tr8n_txtl"><%=tr8n_current_translator.total_metric.total_translations%></td>
	                  </tr>
	                  <tr>
	                    <td class="tr8n_txtl"><%=tra("Your Total Votes:") %></td>
	                    <td class="tr8n_txtl">
	                      (<span style="color:green"><%=tr8n_current_translator.total_metric.positive_votes || 0 %></span>/<span style="color:red"><%=tr8n_current_translator.total_metric.negative_votes || 0 %></span>)
											</td>
	                  </tr>
	                  <tr>
	                    <td class="tr8n_txtl"><%=tra("Your Forum Messages:") %></td>
	                    <td class="tr8n_txtl">
	                       <%=tr8n_current_translator.language_forum_messages.count %> 
	                    </td>
	                  </tr>
	                  <tr>
	                    <td  class="tr8n_txtl" style="vertical-align:top;"><%=tra("Your Languages:") %></td>
	                    <td class="tr8n_txtl" style="vertical-align:top;">
			                  <% langs = [] %>
			                  <% @user_languages.each do |user_lang|
			                  		lang = user_lang.language
			                      next if lang.default?
			                      langs << link_to(lang.english_name, :anchor => lang.locale)  
			                     end %>       
			                  <%= langs.join(" | ").html_safe %>
	                    </td>
	                  </tr>
									</table>
					      </td>
					    </tr>
					  </table>
						
	        </td>       
	      	
	        <td style="width:50%;padding-top:3px;padding-right:3px;">
	          <%=render :partial => "translator_metric", :locals => {:translator_metric => tr8n_current_translator.total_metric, :lang => nil} %>
	        </td>       
	      </tr>
	    </table>  
	</div>
	
	<% @user_languages.each do |lang_user| %>
		<% lang = lang_user.language %>
		<% next if lang.default? %>
		<% translator_metric = tr8n_current_translator.metric_for(lang) %>
		
		<div class="section_title">
		  <div class="tr8n_fltr" style="font-size:12px; font-weight:normal; padding-top:5px;">
	      <%=link_to(tra("select", "Language action link"), :locale => lang.locale)%>
	      | <%=link_to(tra("site map", "Language action link"), "/tr8n/phrases/map?locale=#{lang.locale}")%>
	      | <%=link_to(tra("phrases", "Language action link"), "/tr8n/phrases?locale=#{lang.locale}")%>
	      | <%=link_to(tra("translations", "Language action link"), "/tr8n/translations?locale=#{lang.locale}")%>
	      | <%=link_to(tra("awards", "Language action link"), "/tr8n/awards?locale=#{lang.locale}")%>
	      | <%=link_to(tra("discussions", "Language action link"), "/tr8n/forum?locale=#{lang.locale}")%>
	      <% if tr8n_current_translator.manager? %>
	         | <%=link_to(tra("manage", "Language action link"), "/tr8n/language/index?locale=#{lang.locale}")%>
	      <% end %>
	      | <%=link_to(tra("remove", "Language action link"), "/tr8n/language/remove?language_id=#{lang.id}")%>
		  </div>
	
			<div class="tr8n_txtl">
		    <%=tr8n_toggler_tag("lang_content_#{lang.id}")%>
				
		    <%=image_tag("tr8n/flags/#{lang.flag}.png", :title=>lang.native_name) if Tr8n::Config.enable_language_flags? %>&nbsp;
		    <span dir="ltr"><a name="<%=lang.locale%>" style="text-decoration:none;color:black;"><%=lang.english_name%></a></span>

			</div>
		</div>
		
		<div id="lang_content_<%=lang.id%>" class="section grey tr8n_txtl">
	    <%=render :partial=>"statistics", :locals => {:lang => lang, :translator_metric => translator_metric}%>
			
	    <%=render :partial=>"forum", :locals => {:lang => lang}%>
	
	    <%=render :partial=>"translations", :locals => {:lang => lang}%>
	
	    <%=render :partial=>"votes", :locals => {:lang => lang}%>
		</div>
	<% end %>

	<%= render :partial => "/tr8n/common/footer" %>

<% end %>