<div class="section_box">
  <div style="margin-bottom:5px; padding-bottom:2px; border-bottom:1px solid #ccc; ">
    <table style="width:100%;">
      <tr>
        <td align='left'><%= page_entries_info(@messages, {:entry_name => "message", :skip_decorations => true}) %></td>
        <td align='right'><%= will_paginate(@messages, :skip_decorations => true) %></td>
      </tr>
    </table>
  </div>

  <table style="width:100%; ">
    <% @messages.each do |message| %>
      <%
        style = (message == @messages.last ? "" : "border-bottom:1px dotted #ccc;" )
      %>  
      <tr style="<%=style%>">
        <td style="padding:5px; width:50px;"> 
          <%=tr8n_user_mugshot_tag(message.translator, :linked => true)%>
        </td>
        <td style="padding:5px; width:100px;">
          <%=tr8n_user_tag(message.translator, :linked => true)%>
          <div style="color:grey;font-size:10px;"><%=tr8n_current_language.localize_date(message.created_at, :date_time, :skip_decorations => true) %></div>
          <div style="font-size:10px;">
            <% if tr8n_current_user_is_translator? and message.translator == tr8n_current_translator %>  
              <%=link_to(trl("Delete"), {:action => :delete_message, :message_id => message.id}, {:confirm => trl("Are you sure you want to delete this message?")})%>
            <% end %>
          </div>
        </td>
        <td style="padding:5px; width:700px;">
          <%=message.message %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
