<div class="section_title">
  <% if tr8n_current_language.default? %>
    <%=tra("Start a New Discussion Topic For All Translators")%>
	<% else %>
	   <%=tra("Start a New Discussion Topic For {language} Language", nil, :language => tr8n_current_language.native_name)%>
	<% end %>
</div>

<div class="section_box colored">
  <% form_tag({:action => :topic}, {:method => :post, :id => "forum_topic_form"}) do %>
    <%=hidden_field_tag(:language_id, params[:language_id])%>
    
    <table style="width:99%">
      <tr>
        <td style="width:80px; text-align:right; padding-right:10px; font-weight:bold;">
          <%=tra("Topic:")%>
        </td>
        <td>
          <%=text_field_tag(:topic, "", :style=>"width:99%")%>
        </td>
      </tr>
      <tr>
        <td style="width:80px; text-align:right; padding-right:10px; padding-top:5px; font-weight:bold;">
          <%=tra("Message:") %>
        </td>
        <td style="padding-top:5px;">
          <%=text_area_tag(:message, "", :style=>"width:99%; height:80px;")%>
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="color:grey; font-size:12px; padding-top:10px; padding-bottom:10px;">
           <%=tra("If your computer is not configured with your language keyboard, click on CTR+SHIFT+K to enable keyboards in foreign languages.")%>
        </td>
      </tr>
    </table>
    
    <div style="padding-top:20px; padding-bottom:10px;text-align:center">
        <button type="submit" class="translator_btn translator_submit_btn" onClick=" Tr8n.Effects.submit('forum_topic_form'); return false;">
            <span><%=tra("Start a New Discussion")%></span>
        </button>
        <% if include_cancel_button %>
        or 
        <%=link_to(tra("Cancel"), :action => :index)%>
        <% end %>  
    </div>
  <% end %>
</div>
  