<a name="reply_message">
  <div class="section_title">
    <%=tra("Reply to This Discussion") %>
  </div>
</a>
<div class="section_box colored">
  <% form_tag({:action => :topic}, {:method => :post, :id => "forum_topic_form"}) do %>
    <%=hidden_field_tag(:topic_id, @topic.id)%>
    
    <table style="width:99%">
      <tr>
        <td style="width:80px; text-align:right; padding-right:10px; font-weight:bold;">
          <%=tra("Your Reply:") %>
        </td>
        <td>
          <%=text_area_tag(:message, "", :style=>"width:99%; height:50px")%>
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="color:grey; font-size:12px; padding-top:10px; padding-bottom:10px;">
           <%=tra("If your computer is not configured with your language keyboard, click on CTR+SHIFT+K to enable keyboards in foreign languages.")%>
        </td>
      </tr>
    </table>
    
    <div style="padding-top:20px; padding-bottom:10px;text-align:center">
        <button type="submit" class="translator_btn translator_submit_btn" onClick="Tr8n.Effects.submit('forum_topic_form'); return false;">
            <span><%=tra("Reply to This Discussion")%></span>
        </button>
    </div>
  <% end %>
  
</div>  