<div style="border:1px solid #ccc;padding:10px;background:#eee;margin-top:10px;margin-bottom:10px;">
<%= form_tag({}, :id => :tr8n_query_form, :method => :get) do %>
  <%=hidden_field_tag(:id, @comp.id) %>
  <%=hidden_field_tag(:mode, params[:mode]) %>
  <%= render(:partial => "/tr8n/admin/common/search_module") %>
  <% if @language_options or @translator_options %>
    <div style="padding-top:10px;">
      <% if @language_options %>
        Language: <%=select_tag(:language, options_for_select(@language_options, params[:language])) %>
        &nbsp;
      <% end %>
      <% if @translator_options %>
        Translator: <%=select_tag(:translator, options_for_select(@translator_options, params[:translator])) %>
      <% end %>
    </div>
  <% end %>
<% end %>  
</div>

<%=render :partial => "/tr8n/admin/common/translations" %>
