<div style="text-align:center; margin:10px; margin-bottom:20px;">
	<%=image_tag("tr8n/tr8n_logo2.png", :style => "height:120px;")%>
</div>

<h2 class="underscore content_hd">
  <%=tr('Welcome to Tr8n Translation Memory Server!') %>
</h2>

<div class="content_bd">
  <h3><%=tr("Here are some helpful links to get started:")%></h3>
  <ul style="list-style-type:decimal; margin-left:30px; font-size:14px;">
    <li><%= link_to(tr("Register for a translator account"), "/login/register")%></li>
    <li><%= link_to_function(tr("Change your language and enable inline translations"), "tr8nLightbox.show('/tr8n/language/select?lightbox=true', {height:500, width:400});")%></li>
		<li><%= link_to(tr("Take a look at your dashboard and see your translation progress"), "/tr8n/dashboard")%></li>
    <li><%= link_to(tr("View and translate phrases in the bulk translation mode"), "/tr8n/phrases")%></li>
    <li><%= link_to(tr("View and search through translations"), "/tr8n/translations")%></li>
    <li><%= link_to(tr("See translator awards"), "/tr8n/awards")%></li>
    <li><%= link_to(tr("Participate in translator discussions"), "/tr8n/forum")%></li>
    <li><%= link_to(tr("View help"), "/tr8n/help")%></li>
  </ul>

  <br><br>
	<h3><%=tr("Interested in integrating Tr8n into your own application? Here are some steps to get started:")%></h3>
	<ul style="list-style-type:circle; margin-left:30px; font-size:14px;">
		<li><%=tr("Download the source code from github:")%> <%=link_to("https://github.com/berk/tr8n", "https://github.com/berk/tr8n")%></li>
		<li><%=tr("Read integration and configuration specs:")%> <%=link_to("https://github.com/berk/tr8n/wiki", "https://github.com/berk/tr8n/wiki")%></li>
	</ul>

  <br><br>
  <h3><%=tr("Questions, comments, feedback:")%></h3>
  <ul style="list-style-type:circle; margin-left:30px; font-size:14px;">
	  <li><%=tr("Contact us:")%> <%= link_to("michael@tr8n.net", "mailto: support@tr8n.net") %></li>
	  <li><%=tr("Follow us on Twitter:")%> <%= link_to("@tr8nhub", "http://twitter.com/tr8nhub") %></li>
		<li><%=tr("Visit our page on Facebook:")%>  <%= link_to("Tr8n Translation Engine Page", "http://www.facebook.com/pages/Tr8n-Translation-Engine/138407706218622")%></li> 	
  </ul>

</div>



