<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

	<%= render :partial => "/tr8n/common/header" %>
	
	<div class="section_title">
	  <div style="<%=tr8n_style_attribute_tag('float', 'right')%>; font-size:12px; padding-top:5px;">
	    <% if params[:mode] == "all" %>
	        <%=link_to(tra("Awards for {language} Language", 'Awards section header', :language => tr8n_current_language.native_name), :mode => :current) %> 
	    <% else %>
	        <%=link_to(tra("Awards for All Languages", 'Awards section header'), :mode => :all) %> 
	    <% end %>
	  </div>
	  
		<div style="<%=tr8n_style_attribute_tag('text-align', 'left')%>">
		  <% if params[:mode] == "all" %> 
		    <%=tra("Awards for All Languages", 'Awards section header')%>
		  <% else %>
		    <%=tra("Awards for {language} Language", 'Awards section header', :language => tr8n_current_language.native_name) %>
		  <% end %>  
		</div>
	</div>
	
	<div class="section grey">
	  <%= render(:partial => 'list', :locals => {:metrics => @leaders, :show_medals => true}) %>  
	</div>
	
	<% unless @runners.empty? %>
	  <div class="section_title">
	    <% if params[:mode] == "all" %> 
	      <%=tra("Runner-Ups for All Languages", 'Awards section header')%>
	    <% else %>
	      <%=tra("Runner-Ups for {language} Language", 'Awards section header', :language => tr8n_current_language.native_name) %>
	    <% end %>  
	  </div>
	  <div style="border: 1px dotted #ccc; padding:10px; margin-top:5px; margin-top:10px;">
	    <%= render(:partial => 'list', :locals => {:metrics => @runners, :show_medals => false}) %>  
	  </div>
	<% end %>
	
	<%= render :partial => "/tr8n/common/footer" %>
	
<% end %>