<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
			<title><%=trl("Tr8n Translation Memory Server", "Application title")%></title>
			<%= stylesheet_link_tag    "application" %>
			<%= javascript_include_tag "application" %>
			<%= csrf_meta_tag %>
			<%= tr8n_scripts_tag %>
		</head>
    <body>
        <div class="document">
            <%=render :partial => "/layouts/header" %>
            <div class="page_fixed">
                <div class="page_body">
                    <div class="content_module">
                        <div class="content_inner" style="padding:20px;">
                            <%= yield %>
                        </div>
                    </div>
                </div>
                <%=render :partial =>"/layouts/footer" %>
            </div>
        </div>
    </body>
</html>
