<% form_for(:glossary, @glossary, :url => {:action => :update}, :html => {:id => 'tr8n_form', :method => :post, :class => "tr8n"}) do |form| %>
  <%= form.hidden_field :id %>
  <%= hidden_field_tag :source_url, request.env['HTTP_REFERER'] %>
  
  <h2>Glossary Term Details</h2>
  <table class="admin_table">
      <tr>
          <th>
              Keyword:
          </th>
          <td>
              <%= form.text_field :keyword, :style=>"width:100%;" %>
          </td>
      </tr>
      <tr>
          <th valign="top">
              Description:
          </th>
          <td>
              <%= form.text_area :description, :style=>"width:100%; height:300px;" %>
          </td>
      </tr>
  </table>

  <%= render :partial => "/tr8n/admin/common/lightbox_buttons" %>
<% end %>
