<%= render :partial => "/tr8n/common/lightbox_header" %>
<%= form_for(@glossary, :as => :glossary, :url => {:action => :update}, :html => {:id => 'tr8n_form', :method => :post, :class => "tr8n"}) do |form| %>
<%= form.hidden_field(:id) %>
<%= hidden_field_tag(:origin, params[:origin]) %>
  <div class="inner">
      <div class="hd">
          <div style="float:right;"><%=link_to_function(image_tag("tr8n/close.gif"), "hideLightbox();") %></div>
          Glossary Term Details
      </div>
      <div class="bd">
          <div  style="padding-bottom:50px;">
          <table class="admin_table">
              <tr>
                  <th>
                      Keyword:
                  </th>
                  <td>
                      <%= form.text_field :keyword, :style=>"width:99%;" %>
                  </td>
              </tr>
              <tr>
                  <th valign="top">
                      Description:
                  </th>
                  <td>
                      <%= form.text_area :description, :style=>"width:99%;height:200px;" %>
                  </td>
              </tr>
          </table>
        </div>
      </div>
  		<div class="ft">
        <%= render :partial => "/tr8n/admin/common/lightbox_buttons" %>			
  		</div>
  </div>
<% end %>
<%= render :partial => "/tr8n/common/lightbox_footer" %>
