<%= tr8n_lightbox_header_tag %>
<%= form_for(@glossary, :as => :glossary, :url => {:id => @glossary.id}, :html => {:id => 'tr8n_form', :method => :post, :class => "tr8n"}) do |form| %>
  <%= hidden_field_tag(:origin, params[:origin]) %>
  <div class="inner">
      <div class="hd">
        <%= tr8n_lightbox_title_tag("Glossary Term Details") %>
      </div>
      <div class="bd" style="padding-bottom:50px;">
          <table class="admin_table">
              <tr>
                  <th>
                      Keyword:
                  </th>
                  <td>
                      <%= form.text_field :keyword, :style=>"width:99%;" %>
                  </td>
              </tr>
              <tr>
                  <th valign="top">
                      Description:
                  </th>
                  <td>
                      <%= form.text_area :description, :style=>"width:99%;height:200px;" %>
                  </td>
              </tr>
          </table>
      </div>
  		<div class="ft">
        <%= tr8n_lightbox_buttons_tag %>
  		</div>
  </div>
<% end %>
<%= tr8n_lightbox_footer_tag %>
