<div class="inner">
    <div class="hd">
        <div style="float:right;">
            <%=link_to_function(image_tag("tr8n/close.gif"), "tr8nLightbox.hide();") %>
        </div>
        Translation Key Caller
    </div>
    <div class="bd">
        <table class="admin_table">
            <tr>
                <th>
                    Label:
                </th>
                <td>
                    <%=@key_source.key.label %>
                </td>
            </tr>
            <tr>
                <th valign="top">
                    Description:
                </th>
                <td>
                    <%=@key_source.key.description %>
                </td>
            </tr>
            <tr>
                <th>
                    Source:
                </th>
                <td>
                    <%=@key_source.source.source %>
                </td>
            </tr>
        </table>
        <div style="height:400px; overflow:auto;">
            <%=@caller.join("<br>") %>
        </div>
    </div>
</div>