<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Creating Translations") %>
</div>

<div class="documentation_section">
	<p>
    <%=tr("Translations that have a high enough rank are considered accepted.")%>
		<%=tr("The accepted translation with the highest rank replaces the English phrase for that language.")%> 
  </p>
	
  <p>
   <%=tr("When a phrase is correctly translated, it can be locked by a language manager.")%>  
	 <%=tr("Locked phrases are removed from the list of translatable phrases.")%>
	 <%=tr("Users can no longer be able to submit new translations for the phrase or vote on existing translations.") %>
	 <%=tr("The currently accepted translation with the most votes is the translation used until the phrase is unlocked again.")%>	
  </p>
	
	<h2><%=tr("Translation Context Rules")%></h2>
	<p>
		<%=tr("Translations for some phrases can depend on the gender of the user viewing the translation and the gender or numerical value of tokens in the phrase.")%>
		<%=tr("For example, in some languages {ldquo}Invite Family & Friends to View Your Tree{rdquo} has two different translations, one if the viewer is male and one if they are female.")%>
		<%=tr("Tokens are parts of the phrase that are not translated, such as a profile name or a number.")%> 
		<%=tr("The translation for {ldquo}{example}{rdquo} can depend on the gender of the actor and target as well as the number of photos.", nil, :example => "{actor} tagged {target} in {count} photos")%> 
		<%=tr("Tokens themselves are not translated. Translation engine will automatically replace them with the actual value.")%>
	</p>
	<p>
		<%=tr("If the translation of the phrase depends on any of these factors, click the generate context rules for this phrase link.")%>
		<%=tr("Select the gender or number for each token that the translation depends on and click the {ldquo}Continue...{rdquo} button.")%> 
		<%=tr("This will show you a list of all possible contexts so you can provide an appropriate translation for each.")%> 
	</p>
  
</div>

<%= render :partial => "footer" %>
