<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Discussions") %>
</div>

<div class="documentation_section">
  <p>
    <%= tr("Each language has its own discussion forum for translators to discuss topics relevant to that language.") %> 
    <%= tr("This is a great way to communicate with other users working on the same language.") %> 
    <%= tr("You can ask questions, post comments, or seek advice from others translating the same language.") %> 
    <%= tr("Switch to your language to English for discussions that aren't language specific, such as general questions about the translation tools or language management.") %>       
  </p>
</div>

<%= render :partial => "footer" %>
