<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    When viewing a language other than English, click the enable inline translations link to begin translating the site into that language. Use the same link to disable inline translations.
  </p>
  
  <p>
    When you enable inline translations you'll notice that all translatable phrases are underlined in various colors:
  </p>
    
  <ul>
    <li>Red - The phrase has not yet been translated for this language</li>
    <li>Yellow - The phrase has been translated in a <%= tr8n_help_link("fallback language", { :filename => "fallback_languages" }) %></li>
    <li>Green - The phrase has been translated into this language</li>
  </ul>
  
  <p>
    Right-click (or Control-click on a Mac) on a phrase to translate it. See <%= tr8n_help_link("Translating Inline") %> for more details.
  </p>
  

</div>

<%= render :partial => "/tr8n/common/footer" %>
