<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Click Other Languages to view a list of all of the languages available on Geni. Select a language to switch to that language and add it to <%= tr8n_help_link("Your Languages") %> list. The percentage next to each language indicates how much of the site has been translated into that language.
  </p>
  
  <%= image_tag("/tr8n/images/help/languages_disabled.png") %>

</div>

<%= render :partial => "/tr8n/common/footer" %>
