<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Relationships") %>
</div>

<div class="documentation_section">
	<p>
    <%=tr("The Relationships sections displayes a list of all available relationship keys that exists in all languages.") %> <%=tr("Choose the relationship keys that apply to your language and provide the translation.") %> <%=tr("Only translate keys that result in a single word or phrase.") %>
		<%=tr("Translation engine will automatically chain relationships that don't have a translation in your language.") %>
  </p>
</div>

<%= render :partial => "footer" %>
