<%= render :partial => "header" %>
<div class="documentation_section_title">
    <%= tr("Relationships Keys") %>
</div>
<div class="documentation_section">
    <p>
        Relationship keys are special phrases that represent relationships between individuals. A single relationship key can be comprised of a single TPS step, like in the following examples:
    </p>
    <div class="snippet">
        <ul>
            <li>
                1f,0 - mother
            </li>
            <li>
                0,1m - son
            </li>
        </ul>
    </div>
    <p>
        It can also be comprised of a short path that include multiple TPS steps:
    </p>
    <div class="snippet">
        <ul>
            <li>
                2,1:m0,0 - uncle
            </li>
            <li>
                1,1:m0,0 - brother-in-law
            </li>
        </ul>
    </div>
    <p>
        Some languages, like Hindi, have more complicated relationships that may or may not exist in other languages:
    </p>
    <div class="snippet">
        <ul>
            <li>
                0,0:m1<1m:f0,0 - Jethanii (husband's older brother's wife)
            </li>
            <li>
                0,0:m1>1m - Devar (husband's younger brother)
            </li>
        </ul>
    </div>
    <p>
        It is crusial that you only provide translations for relationship keys that exist in your language.
    </p>
    <p>
        If you provide a translation for the above Hindi relationship: (0,0:m1<1m:f0,0) with "husband's older brother's wife", it 
        will be evaluated in English, but it may not provide the best translation when a relationship path is translated. 
    </p>
    <h2>Relationship Paths</h2>
    <p>
        When a relationship between two people in a family tree (relationship path) is translated, relationship steps, comprasing the path, are reduced into relationship keys available for the selected language (keys that have at least one acceptable translation). 
    </p>
    <p>
        <%=image_tag("tr8n/help/path.png", :style=>"width:750px;") %>
    </p>
    <p>
        In the above example, the relationship path between Margaret Brackenbury and Tom Cruise is "Margaret Brackenbury is Tom Cruise's ex-wife's husband's second great uncle's wife's father's wife's great granddaughter.".
    </p>

    <h2>Relationship Path Reduction Rules</h2>
    <p>
        Different languages have different methods for translating relationship paths. Some languages, like English, simpy chain the relationship keys using a possesive form for each previous key, like in the above example. Other languages, like Spanish and Russian,
        reverse the steps in the relationship and use a possesive form for steps in between: "el hermosa del padre de su madre".
    </p>
    <p>
        <%=tra("Relationships will most of the time be passed in a sentence, like the following: '[bold: {example}]'.", "", :example => "{user} is {rel}.") %>
        <%=tra("Relationship tokens will always have gender associated with them, so you can make translations context based on the token's gender.") %>
    </p>
    <h3><%=tra("Second Person Relationship Translations For Single Phrase Relationships") %>
    </h3>
    <p>
        <%=tra("When relationship has a single phrase translation, like [bold: 'mother', 'grandfather' or 'brother-in-law'] and the relationship is evaluated towards the viewing user, we will substitute the [bold: {rel}] token with a translation derived from the following translation key: '[bold: {key}]'. ", "", :rel => "{rel}", :key => "your {rel}") %>
        <%=tra("For example, if the user is [bold: your mother] and the phrase is '[bold: {example}]', then using the above key we will get: [bold: 'MOM is your mother.'], where MOM is your mom's name.", "", :example => "{user} is {rel}.") %>
    </p>
    <div class="snippet">
        "Tina is your mother."
    </div>
    <h3><%=tra("Second Person Relationship Translations For Chained Relationships") %>
    </h3>
    <p>
        <%=tra("When relationship has multiple phrases, like [bold:\"mother's brother\" or \"granddaughter's husband's sister\"] and the relationship is evaluated towards the viewing user, we will substitute the [bold: {rel}] token with a translation derived from the following translation key: '[bold: {key}]'. ", "", :rel => "{rel}", :key => "your {rel1::pos} {rel2}") %>
        <%=tra("For example, if the user is [bold: your mother's brother] and the phrase is '[bold: {example}]', then using the above key we will get: [bold: 'BROTHER is your mother's brother.'], where BROTHER is your mother's brother name.", "", :example => "{user} is {rel}.") %>
    </p>
    <p>
        <%=tra("Notice that we used Possessive Langauge Case (::pos) in order to get \"'s\" correctly into the realtionship path.") %>
    </p>
    <p>
        <%=tra("In some languages, like Russian and Spanish, we may want to reduce the relationship in the reversed order, to get something like: 'brother of your mother'.") %>
        <%=tra("To reduce realtionships in the opposite direction, you can translate the phrase [bold: {key1}] to be: [bold: {key2}] and optionally make the translations be gender dependent on either rel token.", "", :key1 => "your {rel1} {rel2}", :key2 => "{rel2} your {rel1::pos}") %>
    </p>
    <p>
        <%=tra("For longer relationship chains, where there are numerous steps/phrases in the path, we need one more special key to be translated into your language: [bold: {key}].", "", :key => "{rel1:gender} {rel2:gender}") %>
        <%=tra("This key is very similar to the one above, but it does not contain the 'your' word.") %>
				<%=tra("We will use this key to reduce all of the steps in the relationship up until the last step, where we will use the key above.") %>
    </p>
    <div class="snippet">
        "Tina is your mother's sister's daughter."
    </div>
    <h3><%=tra("Third Person Relationship Translations For Single Phrase Relationships") %>
    </h3>
    <p>
        <%=tra("This is very similar to the second person relationship translation for a single phrase relationships, but instead of [bold: {key1}] we use [bold: {key2}].", "", :key1 => "your {rel}", :key2 => "{user|his,her} {rel:gender}") %>
        <%=tra("For example, if the user we are refferring to is a male and relationship is [bold: his mother] and the phrase is '[bold: {example}]', then using the above key we will get: [bold: 'MOM is his mother.'], where MOM is his mom's name.", "", :example => "{actor} is {rel}.") %>
        <%=tra("This key has an implied user object that you can use to translate the phrase using gender context rules.") %>
    </p>
    <div class="snippet">
        "Thomas is her brother."
    </div>
    <h3><%=tra("Third Person Relationship Translations For Chained Relationships") %>
    </h3>
    <p>
        <%=tra("This is again very similar to the second person relationship translation for chained relationships, but instead of [bold: {key1}] we use [bold: {key2}].", "", :key1 => "your {rel}", :key2 => "{user|his,her} {rel1:gender::pos} {rel2:gender}") %>
    </p>
    <p>
        <%=tra("Similarly to the previous examples, all relationship in the chain up until the last two steps will be evaluated by the following key: [bold: {key}].", "", :key => "{rel1:gender} {rel2:gender}") %>
    </p>
    <div class="snippet">
        "Thomas is her brother's wife's son."
    </div>
		
		<h3>
			<%=tra("Complete example in Russian Language") %>
		</h3>
		
    <p>
        <%=tra("Russian language combines a few concepts together: it reduces relationships from right to left and uses language cases to properly construct the phrases in the path.") %>
        <%=tra("For this example we will make our user [bold: {name}] and the relationship path [bold: {path}].", "", :name => "Анна", :path => "[mother, brother, uncle, wife]") %>
        <%=tra("This path can be reduced even further, but we will use it as is for this example.") %>
        <%=tra("In English, the phrase [bold: \"{example}\"] would simply be reduced to: [bold: \"{value}\"].", "", :example => "{user} is {rel}.", :value => "Anna is your mother's brother's uncle's wife.") %>
        <%=tra("In Russian, we want this to sound like: [bold: \"{value1}\"] or Russian translation: [bold: \"{value2}\"]", "", :value1 => "Anna is wife of uncle of brother of your mother.", :value2 => "Анна это жена дяди брата вашего отца.") %>
    </p>
		<p>
        <%=tra("Let's break it apart and start with the following phrase: [bold: '{example}' ]", "", :example => "{user} is {rel}.") %>
        <br>
        <br>
        <%=tra("1. This phrase will be translated into: [bold: '{rus}'].", "", :rus => "{user} это {rel}.") %>
        <br>
        <br>
        <%=tra("2. Now we will translate the key '[bold: {key1}]' to be '[bold: {key2}]' when rel1 is а male and '[bold: {key3}]' when rel1 is а female.", "", :key1 => "your {rel1} {rel2}", :key2 => "{rel2} вашего {rel1::pos}", :key3 => "{rel2} вашей {rel1::pos}") %>
        <br>
        <br>
        <%=tra("3. The key '[bold: {key1}]' also needs to be translated to '[bold: {key2}]' for simple recursive reductions.", "", :key1 => "{rel1} {rel2}", :key2 => "{rel2} {rel1::pos}") %>
        <br>
        <br>
        <%=tra("And now we are done!") %><%=tra("When the original key '[bold: {key1}]' is evaluated it will be reduced to '[bold: {key2}]'", "", :key1 => "{user} is {rel}.", :key2 => "Анна это жена дяди брата вашего отца.") %>
    </p>
		
    <div class="snippet">
        "Анна это жена дяди брата вашего отца."
    </div>
		
</div>
<%= render :partial => "footer" %>
