<html>
  <head>
  	<%= stylesheet_link_tag('tr8n/tr8n.css') %>
    <%= javascript_include_tag('tr8n/tr8n.js') %>
		<script type="text/javascript">
		  function resizeFrame() {
		    var height = document.body.scrollHeight;
				Tr8n.postMessage({'subject': 'lightbox', 'action': 'resize', 'height': height}, '<%=params[:origin]%>');
		  }
		</script>
  </head>	
  <body style="padding:0px;margin:0px;" onload="resizeFrame()">
		<div class="tr8n_lightbox_content">
			<div class='inner' <%=tr8n_dir_attribute_tag%>>
				<div class='bd' style="text-align:center;padding:20px;">
					<%=image_tag("tr8n/loading_large.gif", :style=>"vertical-align:middle") %> &nbsp; &nbsp;
					<%=tra(params[:msg].blank? ? 'Loading...' : params[:msg]) %>
				</div>
			</div>		
		</div>
	</body>	
</html>
