<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Translations") %>
</div>

<div class="documentation_section">
  <p>
    <%= tr("Multiple translations can be submitted for a single phrase.") %> 
    <%= tr("The Translations tab lists all translations submitted for all phrases in your language.") %> 
    <%= tr("Use search and filters to find translations and vote on them.") %> 
    <%= tr("Click on the original phrase to view all translations for that phrase.") %>     
  </p>
</div>

<%= render :partial => "footer" %>
