<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Use Inline translations to translate phrases while you are using and browsing the site. Use the Enable inline translations link in the <%= tr8n_help_link("language selector") %> to enable inline translations. The link changes to "Disable inline translations" so you can turn it inline translations off when you are done.
  </p>
  
  <%= image_tag("/tr8n/images/help/color_coding.png") %>
  
  <ul>
    <li>Red - The phrase has not yet been translated for this language</li>
    <li>Yellow - The phrase has been translated in a <%= tr8n_help_link("fallback language", { :filename => "fallback_languages" }) %></li>
    <li>Green - The phrase has been translated into this language</li>
  </ul>

  <p>
    Right-click (or Control-click on a Mac) on any underlined word to <%= tr8n_help_link("add a translation", { :filename => "enter_translation" }) %> or to <%= tr8n_help_link("view", { :filename => "phrases_with_translations" }) %> and <%= tr8n_help_link("vote", { :filename => "phrases_with_translations" }) %> on existing translations.
  </p>

  <p>
    <%= image_tag("/tr8n/images/help.png") %> Click on this icon next to a dropdown menu to translate each item in the menu.
  </p>


</div>

<%= render :partial => "/tr8n/common/footer" %>
