<table class="admin_table">
  <tr>
    <th>
      Name
    </th>
    <th>
      Site Administrator
    </th>  
    <th>
      Manages Languages
    </th>  
    <th>
      Blocked
    </th>  
    <th style="text-align:right">
      Translations Count
    </th>
    <th style="text-align:right">
      Votes Count
    </th>
    <th></th>
  </tr>  
  <% translators.each_with_index do |translator, index| %>
    <tr>
      <td>
        <%=link_to(translator.name, :action => :view, :translator_id => translator.id)%>
      </td>  
      <td>
        <%=translator.admin?%>
      </td>  
      <td>
        <%=translator.manager_for_any_language?%>
      </td>  
      <td>
        <%=translator.blocked?%>
      </td>  
      <td style="text-align:right">
        <%= link_to(translator.total_metric.total_translations || 0, "/tr8n/admin/translation?wf_c0=translator_id&wf_o0=is&wf_v0_0=#{translator.id}") %>
      </td>  
      <td style="text-align:right">
        <%=translator.total_metric.total_votes || 0 %>
        (<span style="color:green"><%=translator.total_metric.positive_votes || 0 %></span>/<span style="color:red"><%=translator.total_metric.negative_votes || 0 %></span>)
      </td>  
      <td style="text-align:right">
        <%=link_to("View", :action => :view, :translator_id => translator.id)%>
        |
        <%=link_to("Delete", {:action => :delete, :translator_id => translator.id}, :confirm => "Are you sure you want to do that?")%>
      </td>
    </tr>
  <% end %>
</table>