<%= render :partial => "/tr8n/common/lightbox_header" %>
<div class="inner">
    <div class="hd">
        <div style="float:right;">
            <%=link_to_function(image_tag("tr8n/close.gif"), "Tr8n.UI.Lightbox.hide();") %>
        </div>
        User Translator Registration
    </div>
    <div class="bd">
        <%= form_for(@translator, :as => :translator, :url => {:action => :register}, :html => {:id => 'tr8n_form', :method => :post, :class => "tr8n"}) do |form| %>
        <%= hidden_field_tag(:origin, params[:origin]) %>
        <%= form.hidden_field :id %>
        <div style="padding-bottom:50px;">
        <table class="admin_table">
            <tr>
                <th>
                    <%= Tr8n::Config.site_info[:user_info][:class_name] %>Id:
                </th>
                <td>
                    <%= form.text_field :user_id, :style=>"width:99%;" %>
                </td>
            </tr>
        </table>
        </div>
        <% end %>
    </div>
    <div class="ft">
      <%= render :partial => "/tr8n/admin/common/lightbox_buttons" %>     
    </div>
</div>
<%= render :partial => "/tr8n/common/lightbox_footer" %>
