<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs" %>
<%= tr8n_will_filter %>

<%= render :partial => "/tr8n/admin/common/paginator", :locals => {:objects => @logs} %>

<table class="admin_table">
<thead>
  <tr>
    <th style="width:150px">Created At</th>
    <th style="width:150px">Actor</th>
    <th style="">Action</th>
  </tr>
</thead>
<tbody>
  <% @logs.each do |log| -%>
    <tr>
      <td><%= log.created_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
      <td>
      	<% if log.translator %>
				  <%= link_to(log.translator.name, "/tr8n/admin/translator/view?translator_id=#{log.translator.id}") %>
				<% else %>
				  Deleted translator
				<% end %>	
			</td>	
      <td style="<%=log.decoration%>"><%= log.describe %></td>
    </tr>
  <% end -%>
</tbody>
</table>

<%= render :partial => "/tr8n/admin/common/paginator", :locals => {:objects => @logs} %>
<%= render :partial => "/tr8n/admin/common/footer" %>
