<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs" %>
<%= tr8n_will_filter(@logs) %>

<% form_tag("", :id => "sources_form") do %>
  <%= will_filter_table_tag(@logs, :columns => [
    :created_at, 
    [:translator_id, lambda{|log|
      if log.translator
        link_to(log.translator.name, :controller => "/tr8n/admin/translator", :action => :view, :translator_id => log.translator.id)
      else
        "Unknown" 
      end  
    }],
    :action, 
    :reference,
    [:description, lambda{|log|
      html = []
      html << "<div style='#{log.decoration}'>"
      html << log.describe
      html << "</div>"
      html.join("").html_safe
    }]
  ]) %>
<% end %>

<%= render :partial => "/tr8n/admin/common/footer" %>
