<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs", :locals => {:current_tab => "Translator Details"} %>

<table class="admin_table">
    <tr>
        <th>
            Translator Id
        </th>
        <td>
            <%=@translator.id %>
        </td>
    </tr>
    <tr>
        <th width="160">
            User
        </th>
        <td>
          <% if @translator.user %>
            <%=link_to(@translator.name, @translator.link) %>
            (<%=@translator.user.id%>)
          <% else %>
            Unknown  
          <% end %>  
        </td>
    </tr>
    <tr>
        <th>
            Global Manager / Admin
        </th>
        <td>
            <%= (Tr8n::Config.admin_user?(@translator.user) != nil) %>
        </td>
    </tr>
    <tr>
        <th>
            Blocked
        </th>
        <td>
            <%=@translator.blocked? %>
        </td>
    </tr>
    <tr>
        <th>
            Inline Translations Enabled
        </th>
        <td>
            <%=@translator.enable_inline_translations? %>
        </td>
    </tr>
    <tr>
        <th>
            Translations Count
        </th>
        <td>
            <%=@translator.total_metric.total_translations %>
        </td>
    </tr>
    <tr>
        <th>
            Votes Count
        </th>
        <td>
          <%=@translator.total_metric.total_votes || 0 %>
          (<span style="color:green"><%=@translator.total_metric.positive_votes || 0 %></span>/<span style="color:red"><%=@translator.total_metric.negative_votes || 0 %></span>)
        </td>
    </tr>
     <tr>
        <th>
            Created At
        </th>
        <td>
            <%=@translator.created_at %>
        </td>
    </tr>    
    <tr>
        <th>
            Updated At
        </th>
        <td>
            <%=@translator.updated_at %>
        </td>
    </tr>    
    <tr>
        <th>
            
        </th>
        <td>
          <%=link_to("View Translations", "/tr8n/admin/translation?wf_c0=translator_id&wf_o0=is&wf_v0_0=#{@translator.id}") %>
          | <%=link_to("View Metrics", "/tr8n/admin/translator/metrics?wf_c0=translator_id&wf_o0=is&wf_v0_0=#{@translator.id}") %>

          <% if @translator.blocked? %>
            | <%=link_to_function("Unblock", "performTranslatorAction('unblock')") %>
          <% else %>
            | <%=link_to_function("Block", "performTranslatorAction('block')") %>
          <% end %>  
									
          | <%=link_to("Delete", {:action => :delete, :translator_id => @translator.id}, :confirm => "Are you sure you want to do that?")%>

          | <%=link_to("View Reported Translations", "/tr8n/admin/translation?wf_c0=translator_id&wf_o0=is&wf_v0_0=#{@translator.id}&wf_c1=rank&wf_o1=is_less_than&wf_v1_0=-100") %>
          | <%=link_to("View Reported Forum Messages", "/tr8n/admin/forum/reports?wf_c0=author_id&wf_o0=is&wf_v0_0=#{@translator.id}") %>
        </td>
    </tr>    
</table>


<h1>Languages and Management Rights</h1>
<table class="admin_table">
<thead>
  <tr>
    <th style="">Language</th>
    <th style="">Manager</th>
    <th style=""></th>
  </tr>
</thead>
<tbody>
  <% @translator.language_users.each do |lu| -%>
    <tr>
      <td><%= lu.language.english_name %></td>
      <td><%= lu.manager? %></td>
      <td style="width:100px">
          <% if lu.manager? %>
            <%=link_to_function("Demote", "demote('#{lu.language.id}')") %>
          <% else %>
            <%=link_to_function("Promote", "promote('#{lu.language.id}')") %>
          <% end %>  
      </td>
    </tr>
  <% end -%>
</tbody>
</table>
<div style="padding:10px;background: #eee; border: 1px dotted #ccc; margin-bottom:20px">
  Promote this translator to be a manager for <%=select_tag("manager_language_id", options_for_select(Tr8n::Language.options, ""))%> 
  <%=link_to_function("<span>Promote</span>", "promote(Tr8n.value('manager_language_id'));", :class => "tr8n_grey_button tr8n_pcb") %>	
</div>

<script>
  function performTranslatorAction(action) {
    var reason = prompt("Please provide a reason why you want to " + action + " this translator:");
    location = "/tr8n/admin/translator/" + action + "?translator_id=<%=@translator.id%>&reason=" + reason;
  }  

  function promote(language_id) {
    if (confirm("Are you sure you want to promote this user?")) {
      location = "/tr8n/admin/translator/promote?translator_id=<%=@translator.id%>&language_id=" + language_id;
    }      
  }  

  function demote(language_id) {
    var reason = prompt("Please provide a reason why you want to demote this translator:");
    location = "/tr8n/admin/translator/demote?translator_id=<%=@translator.id%>&language_id=" + language_id + "&reason=" + reason;
  }  
</script>

<h1>
  <div style="font-size:12px; float:right;padding-top:10px;">
    <%=link_to("view all", "/tr8n/admin/translator/metrics")%>
  </div>

	Metrics
</h1>
<table class="admin_table">
<thead>
  <tr>
    <th style="">Language</th>
    <th style="">Translations Count</th>
    <th style="">Votes Count</th>
  </tr>
</thead>
<tbody>
  <% @translator.translator_metrics.each do |metric| -%>
    <% next unless metric.language %>
    <tr>
      <td><%= link_to(metric.language.english_name, :controller => "/tr8n/admin/language", :action => :view, :lang_id => metric.language.id) %></td>
      <td><%= metric.total_translations %></td>
      <td>
          <%=metric.total_votes || 0 %>
          (<span style="color:green"><%=metric.positive_votes || 0 %></span>/<span style="color:red"><%=metric.negative_votes || 0 %></span>)
      </td>
    </tr>
  <% end -%>
</tbody>
</table>
<br>

<h1>
  <div style="font-size:12px; float:right;padding-top:10px;">
    <%=link_to("view all", "/tr8n/admin/translator/log?wf_c0=translator_id&wf_o0=is&wf_v0_0=#{@translator.id}")%>
  </div>
	Recent Activity <span style="color:grey; font-size:12px;">(last 20 actions)</span>
</h1>
<table class="admin_table">
<thead>
  <tr>
    <th style="width:150px">Created At</th>
    <th style="width:150px">Actor</th>
    <th style="">Action</th>
  </tr>
</thead>
<tbody>
  <% @translator.last_logs.each do |log| -%>
    <tr>
      <td><%= log.created_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
      <td><%= link_to(log.translator.name, "/admin/users/user?profile=#{log.translator.user.id}") if log.translator.user %>
      <td style="<%=log.decoration%>"><%= log.describe %></td>
    </tr>
  <% end -%>
</tbody>
</table>
<%= render :partial => "/tr8n/admin/common/footer" %>
