<div id="basic_info_container">
  <%=render(:partial => "header", :locals => {:section => "basic_info", :label => "Basic Information", :description => "", :mode => mode})%>
  
  <% form_for(:language, tr8n_current_language, :url => {:action => :index}, :html => {:id => 'basic_info_form', :method => :post}) do |f| %>
    <div id="basic_info_content" class="section_box colored">
      <div style="<%=tr8n_float_style_tag(:right)%>; padding-right:5px;">
          <%=tr8n_help_icon_tag %>
      </div>
      <div>
        <table cellpadding="0px" cellspacing="0px">
          <tr>
            <th style="width:120px;padding:3px; text-align:left; vertical-align:middle;font-weight:bold;"><%=trla("Native Name:", "Language native name")%></th>
            <td style="padding:3px; text-align:left;">
              <% if mode == :edit %>
                <%=f.text_field(:native_name)%>
              <% else %>
                <%=tr8n_current_language.native_name%>
              <% end %>
            </td>
          </tr>
          <tr>
            <th style="padding:3px; text-align:left; vertical-align:middle;font-weight:bold;"><%=trla("Direction:", "Language direction")%></th>
            <td style="padding:3px; text-align:left;">
              <% if mode == :edit %>
                <%=f.check_box(:right_to_left, :style=>"margin:0px; padding:0px; width:15px;") %> <%=trla("This language is read from right to left")%>
              <% else %>  
                <% if tr8n_current_language.right_to_left? %>  
                  <%=trla("This language is read from right to left")%>
                <% else %>
                  <%=trla("This language is read from left to right")%>
                <% end %>  
              <% end %>  
            </td>
          </tr>
					
					<% if Tr8n::Config.enable_fallback_languages? and not tr8n_current_language.default? %>
	          <tr>
	            <th style="padding:3px; text-align:left; vertical-align:middle;font-weight:bold;"><%=trla("Fallback Language:", "Language to fall back onto if the language phrase is not translated")%></th>
	            <td style="padding:3px; text-align:left;">
	              <% if mode == :edit %>
	                <%=select_tag("language[fallback_language_id]", options_for_select(Tr8n::Language.options, @fallback_language.id.to_s))%>
	              <% else %>
	                <%=@fallback_language.english_name%>
	              <% end %>  
	            </td>
	          </tr>
          <% end %>
					
        </table>
      </div>
    </div>
  <% end %>
</div>