<div style="padding-bottom:5px;">
  <% 
     @rules.keys.each do |dependency|
       cls = Tr8n::Config.language_rule_dependencies[dependency] 
  %>
	    <div style="margin-bottom:10px; border-bottom: 1px dotted #ccc; padding-bottom:5px;">
	      <div style="font-weight:bold; padding-bottom:5px;">
				  <%= tra("#{cls.dependency_label.capitalize} Rules")%>
				</div>
	      
				<% if @rules[dependency].empty? %>
				  <div style="font-style:italic; font-size: 10px; color: grey;">
				  	<%=tra("There are no #{cls.dependency_label} rules defined for this language.")%>
						<%=link_to_function(tra("Click here to add a new #{cls.dependency_label} rule."), "addLanguageRule('#{cls.dependency}', '0')")%>
				  </div>
				<% end %>
				
	      <% @rules[dependency].each_with_index do |rule, index| %>
				    <div style="padding-bottom:3px;">
				      <input type="button" value=" + " onClick="addLanguageRule('<%=dependency%>','<%=index+1%>')" style="cursor:pointer; width: 30px;">
				      <input type="button" value=" - " onClick="deleteLanguageRule('<%=dependency%>','<%=index%>')" style="cursor:pointer; width: 30px;">
				      
				      <% rule.definition ||= {} %>
				      
				      <%=hidden_field_tag("rules[#{dependency}][#{index}][id]", rule.id)%>
				      <%=hidden_field_tag("rules[#{dependency}][#{index}][reset_values]", "false", :id => "rule_#{index}_reset_values")%>
				      
				      <%=render :partial=> "/tr8n/language/rules/#{dependency}_rule", :locals => {:rule => rule, :index => index} %>
				    </div>
	      <% end %> 
      </div>
  <% end %> 
</div>

<div style="color:grey; font-size:10px; padding-top:5px; padding-bottom:5px;">
  <%=tra("For numeric rules, you can enter multiple values seprated by commas.")%>
</div>
