<% if lcase.rules.empty? %>
	<div style="font-style:italic; font-size: 10px; color: grey;">
	  <%=tra("There are no rules defined for this language case.")%>
	  <%=link_to_function(tra("Click here to add new rule."), "addLanguageCaseRule('#{case_index}', '0')")%>
	</div>
<% else %>
  <% lcase.rules.each_with_index do |rule, rule_index| %>
	    <div style="padding-bottom:3px;">
	      <input type="button" value=" + " onClick="addLanguageCaseRule('<%=case_index%>','<%=rule_index+1%>')" style="cursor:pointer; width: 30px; background-color:#eee;">
	      <input type="button" value=" - " onClick="deleteLanguageCaseRule('<%=case_index%>','<%=rule_index%>')" style="cursor:pointer; width: 30px; background-color:#eee;">
	      
				<% rule_prefix = "cases[#{case_index}][rules][#{rule_index}]" %>
	      <%=hidden_field_tag("#{rule_prefix}[id]", rule.id)%>

				<%=select_tag("#{rule_prefix}[definition][gender]", options_for_select(rule.class.gender_options, rule.definition[:gender]))%>
        <%=select_tag("#{rule_prefix}[definition][part1]", options_for_select(rule.class.condition_options(true), rule.definition[:part1]))%>
				<%=text_field_tag("#{rule_prefix}[definition][value1]", rule.humanize_values(rule.definition[:value1]), :style => "width:100px")%>
				
				<% multipart = (rule.definition[:multipart].to_s == "true") %>
				<% rule_key = "case_#{case_index}_rule_#{rule_index}" %>
				
				<% second_part_style = 'display:none' unless multipart %>
				<span id="rule_<%=rule_key%>_second_part" style="<%= second_part_style %>">
				  <%=hidden_field_tag("#{rule_prefix}[definition][multipart]", rule.definition[:multipart].to_s, :id => "rule_#{rule_key}_multipart")%>
				  
				  <%=select_tag("#{rule_prefix}[definition][operator]", options_for_select(rule.class.operator_options, rule.definition[:operator]))%>
				  
				  <%=select_tag("#{rule_prefix}[definition][part2]", options_for_select(rule.class.condition_options, rule.definition[:part2]), :style => "width:120px")%>
				  <%=text_field_tag("#{rule_prefix}[definition][value2]", rule.humanize_values(rule.definition[:value2]), :style => "width:100px")%>
				</span>

        <%=select_tag("#{rule_prefix}[definition][operation]", options_for_select(rule.class.operation_options, rule.definition[:operation]))%>
        <%=text_field_tag("#{rule_prefix}[definition][operation_value]", rule.humanize_values(rule.definition[:operation_value]), :style => "width:50px")%>

        <% more_link_style = 'display:none' if multipart %>
        <% less_link_style = 'display:none' unless multipart %>
        <span id="extension_more_link_<%=rule_key%>" style="vertical-align:bottom;<%= more_link_style %>">
          <%=link_to_function("#{trl("more")} &raquo;", "Tr8n.element('rule_#{rule_key}_second_part').show(); Tr8n.element('extension_more_link_#{rule_key}').hide(); Tr8n.element('extension_less_link_#{rule_key}').show();  Tr8n.element('rule_#{rule_key}_multipart').value='true';")%>
        </span>
        <span id="extension_less_link_<%=rule_key%>" style="vertical-align:bottom;<%= less_link_style %>">
          <%=link_to_function("&laquo; #{trl("less")}", "Tr8n.element('rule_#{rule_key}_second_part').hide(); Tr8n.element('extension_more_link_#{rule_key}').show(); Tr8n.element('extension_less_link_#{rule_key}').hide(); Tr8n.element('rule_#{rule_key}_multipart').value='false';")%>
        </span>

	    </div>
  <% end %>
	
	<div style="color:grey; font-size:10px; padding-top:5px; padding-bottom:5px;">
	  <%=tra("Enter multiple values seprated by commas.")%>
	</div>
<% end %>

