<div id="grammar_container">
  <%=render(:partial => "header", :locals => {:section => "grammar", :label => "Context Rules", :description => "", :mode => mode})%>

  <% form_for(:language, tr8n_current_language, :url => {:action => :index}, :html => {:id => 'grammar_form', :method => :post}) do |f| %>
    <div class="section_box colored" ondblclick="switchSectionMode('grammar', 'edit')">
      <div style="float:right; padding-right:5px;">
        <%=tr8n_help_icon_tag %>
      </div>
      <div id="language_rules">
      	
        <% if @rules.empty? %>
          <%=trl("There are no language rules defined for this language.")%>
        <% end %>
				
        <% if mode == :edit %>
            <%= render(:partial => "rules") %>  
        <% else %>
				    <div style="padding-bottom:15px; font-size:12px; "><%=trl("Translations in this language may depend on the token's:")%></div>

						<% 
               @types = {}
               @rules.each{|rule| (@types[rule.class.dependency] ||= []) << rule}
               @types.keys.sort.each do |dependency| 
            %>
									<strong><%=dependency%></strong>
									
									<ol style="font-size: 12px; padding-left:10px; margin:1em; list-style-type:square; margin-top:0px;">
									<% @types[dependency].each do |rule| %> 
				              <li style=""><%=rule.description %></li>
									<% end %>	
			            </ol>

            <% end %> 
				<% end %>
      </div>
    </div>
  <% end %>
</div>

<script>
  function submitGrammarRules() {
    if (!confirm("<%=trl('Updating language rules may affect existing translations for this language. Are you sure you want to update this language?') %>")) 
       return;
       
    $('grammar_form').submit();
  }
  
  function updateLanguageRules(language_id) {
    performLanguageRulesOperation($('grammar_form').serialize(true));
  }
  
  function addLanguageRule(position) {
    var form_hash = $('grammar_form').serialize(true);
    form_hash['rule_action'] = "add_at_" + position;
    performLanguageRulesOperation(form_hash);
  }
  
  function deleteLanguageRule(position) {
    var form_hash = $('grammar_form').serialize(true);
    form_hash['rule_action'] = "delete_at_" + position;
    performLanguageRulesOperation(form_hash);
  }
  
  function clearLanguageRules() {
    var form_hash = $('grammar_form').serialize(true);
    form_hash['rule_action'] = "clear_all";
    performLanguageRulesOperation(form_hash);
  } 
  
  function performLanguageRulesOperation(params){ 
    new Ajax.Updater('language_rules', '/tr8n/language/update_rules', {
      parameters: params,
      method: 'post'
    });
  }
</script>

