<% if @user_languages and not @user_languages.empty? %>
  <div style="color:grey; font-size:11px; border-bottom: 1px solid #ccc;"><%=trl("Your Languages")%></div>
  <div class="inner" style="max-height:53px; overflow: auto; margin-bottom:5px;">
      <ul class="language_list">
      <% @user_languages.each do |user_language|%>
        <% language = user_language.language %>  
        <li>
            <span style="font-size:8px; float:right; color:#ccc;">
						  <% if language.default? %>
							   default
							<% else %>
                 <%="#{language.completeness || 0}%"%>
                 <% unless user_language.manager? %>
	                 <%=link_to_function(image_tag("/tr8n/images/close.gif", :style=>"width:5px; padding-right:3px; padding-left:3px;"), "tr8nLanguageSelector.removeLanguage('#{language.id}');") %>
 								 <% end %>
		          <% end %>
    			 </span>
          <div onClick="$('language_selector_locale').value='<%=language.locale%>'; $('language_selector_form').submit();">
          	<%= tr8n_language_flag_tag(language) %>
						<% if language == tr8n_current_language %>
						  <strong><%=language.full_name%></strong>
            <% else %>
              <%=language.full_name%>
						<% end %>
          </div>
        </li>
      <% end %>
    </ul>      
  </div>
  
  <div style="font-size:11px; border-bottom: 1px solid #ccc;">
	   <%=tr8n_toggler_tag("tr8n_languages_list", "<span style='color:grey;'>#{trl("Other Languages")}</span>", (@user_languages.size <= 1) )%>
	</div>
<% end %>

<style>
	#tr8n_languages_list {
		height:200px; overflow: auto;
	}
</style>
<div id="tr8n_languages_list" class="inner" style="<%='display:none' if (@user_languages and @user_languages.size > 1) %>">
  <ul class="language_list">
    <% @all_languages.each do |language|%>
      <li onClick="$('language_selector_locale').value='<%=language.locale%>'; $('language_selector_form').submit();">
        <span style="font-size:8px; float:right; color:#ccc;">
          <% if language.default? %>
             100%
          <% else %>
             <%="#{language.completeness || 0}%"%>
          <% end %>
				</span>
				
      	<%= tr8n_language_flag_tag(language) %>
        <%= language.full_name %>
      </li>
    <% end %>
  </ul>
</div>
