<div style="padding-bottom:5px;">
  <% @rules.each_with_index do |rule, index| %>
    <div style="padding-bottom:3px;">
      <input type="button" value=" + " onClick="addLanguageRule('<%=index%>')" style="cursor:pointer">
      <input type="button" value=" - " onClick="deleteLanguageRule('<%=index%>')" style="cursor:pointer">
      
      <% rule.definition ||= {} %>
      
      <%=hidden_field_tag("rules[#{index}][id]", rule.id)%>
      <%=select_tag("rules[#{index}][type]", options_for_select(Tr8n::LanguageRule.options, rule.class.name), :onChange=>"$('rule_#{index}_reset_values').value='true'; updateLanguageRules()")%>
      <%=hidden_field_tag("rules[#{index}][reset_values]", "false", :id => "rule_#{index}_reset_values")%>
      
      <%=render :partial=> "#{rule.class.dependency}_rule", :locals => {:rule => rule, :index => index} %>
    </div>
  <% end %>
</div>

<%= link_to_function(trl("+ Add Language Rule", "Add language rule"), "addLanguageRule('#{@rules.size}')") %>
<% unless @rules.empty? %>
  | <%= link_to_function(trl("Clear All", "Clear all language rules"), "clearLanguageRules()") %>
<% end %>

<div style="color:grey; font-size:10px; padding-top:15px; padding-bottom:5px;"><%=trl("For numeric rules, you can enter multiple values seprated by commas")%></div>
