<%= form_for(@translation, :as => :translation, :url => {:controller => "/tr8n/translations", :action => :permutate, :translator => true}, :html => {:id => 'tr8n_translator_form', :method => :post}) do |f| %>
    <%= hidden_field_tag(:translation_key_id, @translation_key.id) %>
    <%= hidden_field_tag(:source_url, @source_url) %>
    <%= hidden_field_tag(:translation_has_dependencies, "true") %>
    <%= hidden_field_tag(:origin, params[:origin]) %>

    <div style="padding:10px;">
      <%= render(:partial => "translator_header")%>

      <div id="tr8n_translator_translation_container">
         <div class="small_section_title">
            <%=tra("Context Rules")%>
         </div>
        
	      <div style="padding-bottom:15px;">
	        <%=render :partial => "/tr8n/common/permutations" %>
	      </div>

        <%=link_to(tra("Click here if there are no context rules for this phrase"), {:translation_key_id => @translation_key.id, :mode => :submit, :origin => params[:origin]}, :style => "font-size:10px;") %>
     </div>      
    </div>
<% end %>

<div id="tr8n_translator_buttons_container" class="buttons_container">
    <button type="submit" class="translator_btn translator_submit_btn" onClick="Tr8n.Translation.submit(); resizeFrame(); return false;">
        <span><%=tra("Continue...")%></span>
    </button>
</div>
