<% form_for(:translation, @translation, :url => {:controller => "/tr8n/translations", :action => :translate}, :html => {:id => :tr8n_translator_form, :method => :post}) do |f| %>
    <%= hidden_field_tag(:translation_key_id, @translation_key.id, :id => :tr8n_translator_translation_key_id) %>
    <%= hidden_field_tag(:translation_id, @translation.id, :id => :tr8n_translator_translation_id) %>
    <%= hidden_field_tag(:source_url, @source_url, :id => :tr8n_translator_source_url) %>
    <%= hidden_field_tag(:translation_has_dependencies, "false", :id => :tr8n_translator_translation_has_dependencies) %>
    
    <div style="padding:10px;padding-bottom:0px;">
        <%= render(:partial => "translator_header")%>
      
        <div id="tr8n_translator_translation_container"> 
            <div class="strong small" style="padding-top:10px;"><%=trl("Enter #{tr8n_current_language.english_name} Translation:")%></div>
            <%= f.text_area(:label, :id => "tr8n_translator_translation_label", :class => "keyboardInput", :style=>"width:368px;") %>
		
            <% if Tr8n::Config.enable_google_suggestions? %>
	            <div style="float:right; font-size:10px;">
	               <%=link_to_function(trl("generate context rules for this phrase"), "tr8nTranslator.switchTranslatorMode('#{@translation_key.id}', 'dependencies', '#{@source_url}')", :class=>"translation_action") %>
							</div>
						<% end %>
            
            <% if @translation_key.sanitized_tokens? or @translation_key.sanitized_lambda_tokens? %>
							  <div class="small_section_title" style="color: #999; font-size: 10px;">
							     <strong><%=trl("Translation Tokens")%></strong>
							  </div>
						
                <div style="font-size:10px;">
		                <% @translation_key.sanitized_tokens.each do |token| %>
		                    <%= link_to_function(token, "tr8nTranslator.insertToken('#{token}');", :title => trl("Click to insert this token above") ) %>
		                <% end %>
										
                    <% @translation_key.sanitized_lambda_tokens.each do |token| %>
                        <%= link_to_function("[#{token}: ]", "tr8nTranslator.insertDecorationToken('#{token}');", :title => trl("Click to insert this token above") ) %>
                    <% end %>
                </div>
            <% end %> 
						
		        <% if Tr8n::Config.enable_google_suggestions? %>
		        <div id="tr8n_google_suggestion_section" style="display:none; padding-top:10px;"> 
		            <div class="small_section_title" style="color: #999; font-size: 10px;">
		               <strong><%=trl("Suggested Translation")%></strong>
		            </div>
		        
		            <div id="tr8n_google_suggestion_container_<%=@translation_key.id%>" style="" class="small_section">  
		                <%=image_tag("/tr8n/images/left_quote.png", :style=>"text-align:bottom;padding-bottom:5px;") %>
		                <a onclick="$('tr8n_translator_translation_label').value=$('tr8n_translation_suggestion_<%=@translation_key.id%>').innerHTML; return false;" href="#">
		                   <span class="small" id="tr8n_translation_suggestion_<%=@translation_key.id%>" title="<%=trl("Click to insert this suggested translation above")%>"></span>
		                </a>
		                <%=image_tag("/tr8n/images/right_quote.png", :style=>"text-align:bottom;padding-top:5px;") %>
		            
		                <% sanitized_label = @translation_key.tokenless_label.gsub('"', '\"') %> 
		                <script type="text/javascript">
		                   tr8nTranslator.suggestTranslation("<%=@translation_key.id %>", "<%=sanitized_label %>", "<%=tr8n_current_language.locale%>");
		                </script>
		           </div>
		        </div>   
		        <% end %> 
		        
		        <% if Tr8n::Config.enable_glossary_hints? and @translation_key.glossary? %>  
		          <div class="small_section_title" style="color: #999; font-size: 10px; padding-top:10px;">
		             <strong><%=trl("Glossary")%></strong>
		          </div>
		          
		          <div id="tr8n_glossary_<%=@translation_key.id%>" class="small_section">
		            <div class="glossary_table" style="max-height:150px;overflow:auto;border:solid 1px #ccc;">
		              <table>
		                <% @translation_key.glossary.each do |term| %>
		                  <% border_style = "border-bottom: 1px dotted #ccc;" unless @translation_key.glossary.last == term %>
		                  <tr style="<%=border_style%>">
		                    <td><strong><%=term.keyword %></strong></td>
		                    <td><%=term.description %></td>
		                  </tr>
		                <% end %>
		              </table>
		            </div>
		          </div>
		        <% end %>						
						
        </div>
				
    </div> 
        
<% end %>

<div id="tr8n_translator_buttons_container" class="buttons_container">
    <button type="submit" class="translator_btn translator_submit_btn" onClick="tr8nTranslator.submitTranslation(); return false;">
        <span><%=trl("Translate")%></span>
    </button>
</div>

<% if Tr8n::Config.enable_software_keyboard? %> 
  <script>
    VKI_attach(document.getElementById('tr8n_translator_translation_label'));
  </script>
<% end %>

<script>
  $("tr8n_translator_translation_label").focus();
</script>
