<div class="original_text">
  <div class="supplemental">
    <%= tr8n_help_icon_tag %>
  </div>
  
  <div class="quiet small"><%=trla("Original Phrase in {language}", nil, :language => @translation_key.language.native_name)%></div>
  <div class="quote">
    <%=image_tag("/tr8n/images/left_quote.png") %>
    <%=@translation_key.sanitized_label %>
    <%=image_tag("/tr8n/images/right_quote.png") %>
  </div>
  <% unless @translation_key.description.blank? %>
    <div class="desc">
      <%=@translation_key.description %>
    </div>
  <% end %>
</div>

<%=tr8n_spinner_tag("tr8n_translator_spinner", "Translating...")%>
