<html>
  <head>
  	<%=stylesheet_link_tag('tr8n/tr8n.css') %>
    <%= javascript_include_tag('tr8n/tr8n-compiled.js') %>

		<script type="text/javascript">
		  function xdResizeFrame() {
		    var height = document.body.scrollHeight;
				Tr8n.postMessage('tr8n:translator:resize:' + height, '<%=params[:origin]%>');
		  }
		</script>
  </head>	
  <body style="padding:0px;margin:0px;" onload="xdResizeFrame()">
		<div class="tr8n_splash_screen">
		  <div style="overflow:hidden;_overflow:visible; zoom:1;">
		    <%= image_tag "tr8n/rotating_world.gif", :style => "float:left;margin-right:10px;" %>
		    <div style="overflow:hidden">
		      <div style="color:#444;font-weight:bold;font-size:12px;"><%= trl('Please wait.','Loading text for translations panel') %></div>
		      <div style="font-size:11px"><%= trl('loading...','Loading text for translations panel') %></div>
		    </div>
		  </div>
		</div>
	</body>	
</html>