<%= render :partial => "/tr8n/common/lightbox_header" %>
<% Tr8n::Config.with_options(:default_locale => 'en-US', :admin => true) do %>
<div class="inner">
    <div style="text-align:center;padding-top:30px;">
      <% if tr8n_current_translator %>
        <% if tr8n_current_translator.inline_mode %>
            <%=trla("Inline translations have been enabled.") %>
        <% else %>
            <%=trla("Inline translations have been disabled.") %>
        <% end %>            
      <% else %>
        <%=trla("You must be a registered translator.") %>
        <div style="font-size:12px;text-align:center;padding-top:15px;">
          <%=trla("[link: Click here] to create a translator account.", nil, :link => lambda{|txt| link_to(txt, Tr8n::Config.login_url, :target => "_top")} ) %>
        </div>
      <% end %>
    </div>
</div>
<% end %>
<%= render :partial => "/tr8n/common/lightbox_footer" %>

<% if tr8n_current_translator %>
<script>
  Tr8n.Utils.addEvent(window, "load", function(event) {
    window.setTimeout(function() {
      reloadOrigin();
    }, 500);
  });
</script>
<% end %>
