<% if params[:stem_type] %>
  <% left_right = params[:stem_type].index("right") ? "right" : "left" %>  
  <%=image_tag("/tr8n/images/top_left_stem.png", :class => "stem #{params[:stem_type]}", :style => "#{left_right}:#{params[:stem_offset]}px")%>
<% end %>  

<div class="hd">
  <div class="supplemental">
    <%=link_to_function(image_tag("/tr8n/images/close.gif", :title=>trl("Close")), "tr8nTranslator.hide()")%>
  </div>
	<%= tr8n_language_flag_tag(tr8n_current_language) %>
  <%= trl("#{tr8n_current_language.english_name} Translation") %>
</div>

<div id="tr8n_translator_container" class="bd">
  <%= render(:partial => "translator_#{@mode}") %>
</div>  
