<%= render :partial => "/tr8n/admin/common/header" %>
<h1>
  <span style="font-size:12px; float:right; padding-top:10px;">
    <%=link_to("View Forum Topics", {:action => :index})%>
  </span> 
	Forum Messages
</h1>

<%= will_filter %>

<%= render :partial => "/tr8n/admin/common/paginator", :locals => {:objects => @messages} %>

<table class="admin_table">
  <tr>
    <th style="width:10%">
      Author
    </th>
    <th style="width:15%">
      Created At
    </th>
    <th>
      Message
    </th>
    <th></th>
  </tr>  
  <% @messages.each_with_index do |msg, index| %>
    <tr>
      <td><%=msg.translator ? msg.translator.name : "Deleted user" %></td>
      <td><%=msg.created_at%></td>
      <td><%=msg.message%></td>
      <td style="text-align:right; width:50px">
        <%=link_to("Delete", {:action => :delete, :msg_id => msg.id}, {:confirm => "Are you sure you want to delete this message?"}) %>
      </td>
    </tr>
  <% end %>
</table>

<%= render :partial => "/tr8n/admin/common/paginator", :locals => {:objects => @messages} %>
<%= render :partial => "/tr8n/admin/common/footer" %>
