<% Tr8n::Config.with_options(:default_locale => 'en-US', :admin => true) do %>

  <%= render :partial => "/tr8n/common/header" %>
	
  <div class="section_box" style="margin-bottom:10px; background-color:#EFF8FF; margin-top:0px;">
	  <div style="font-size:20px;font-weight:bold;padding-bottom:20px;"><%=tra("Relationship Path Evaluation Tool")%></div>
			<div style="margin-bottom:10px;">
	      <div style="font-size:12px;padding-bottom:5px;"><%=tra("Relationship path in TPS notation:")%></div>
	      <%=text_field_tag(:etps, params[:etps], {:id => :relationship_key, :style => "width:90%;font-size:24px", :id => "etps", :onKeyUp => "etpsKeyUp()"})%> &nbsp; 
	      <button type="button" class="translator_btn translator_small_btn" onClick="evaluateRelationshipPath(); return false;">
	          <span><%=tra("Evaluate")%></span>
	      </button>
			</div>
			
      <div style="margin-bottom:10px;">
	      <div style="font-size:12px;padding-bottom:5px;"><%=tra("Translation:")%></div>
				<div id="translation" style="border:1px solid #ccc; background-color: #eee; min-height:20px; padding:10px; font-weight:bold;">
        </div>
   		</div>
  </div>

  <div style="margin-top:10px; margin-bottom:10px; border: 1px dotted #ccc; padding:10px;">
    <table style="width:100%">
      <tr style="border-bottom:2px solid #ccc;">
         <td style="width:30%;padding:5px; background: #f9f8f7; font-size:16px; color:grey; ">
           <%=tra("Relationship Key")%>
         </td>
         <td style="width:70%;padding:5px; font-size:16px; color:grey; " colspan="2">
           <%=tra("Top {language} Translations", nil, :language => tr8n_current_language.native_name) %>
         </td>
      </tr>  
      <% @relationship_keys.each do |rk| %>
        <tr style="border-bottom:1px solid #ccc;">
          <% color = rk.locked? ? "#ECFFEF" : "#FDFDDF" %>
          <td style="padding:5px; background: <%=color%>; ">
            <% if rk.locked? %>
              <div style="float:right"><%=image_tag("/tr8n/images/lock.png", :style=>"width:12px", :title => trla("This relationship is locked"))%></div>
            <% end %>
            <div style="font-size:18px;font-family:Arial;">
             <%=link_to(rk.label, :controller => '/tr8n/phrases', :action => :view, :translation_key_id => rk.id)%>
            </div>
            <div style="color:grey;font-size:10px;padding-top:3px;"><%=rk.description%></div>
          </td>
          <td style="padding:5px; vertical-align:top">
            <div id="tr8n_translator_votes_for_<%=rk.id%>">
            <% translations = rk.translations_for(tr8n_current_language) %>
            <% if translations.empty? %>
              <%= tra("There are no translations for this phrase.") %> 
              <% unless rk.locked? %>
                <%= tra("Be the first one to [link: translate it].", "", 
                        :link => lambda{|str| link_to(str, :controller => "/tr8n/phrases", :action => :view, :translation_key_id => rk.id)}  ) %>
              <% end %>       
            <% else %>   
              <%= render :partial => "/tr8n/common/translation_votes", :locals => {:translation_key => rk, :translations => translations[0..4]} %>
            <% end %> 
            </div>  
          </td>
        </tr>
      <% end %>
    </table>
    
    <% if @relationship_keys.empty? %>
        <div style="text-align:left; padding-top:10px; font-size:12px;"><%=trla("No phrases found")%></div>
    <% end %>
  </div>
	
  <%= render :partial => "/tr8n/common/footer" %>
	
<% end %>


<script>
	function etpsKeyUp() {
	   if (event.keyCode == 13) {
		 	  evaluateRelationshipPath();
		 }
	}
	
	function evaluateRelationshipPath() {
    Tr8n.element("translation").innerHTML = "<div style='text-align:left;'><img src='/tr8n/images/spinner.gif' style='vertical-align:bottom'> Loading...</div>";
    Tr8n.Utils.update('translation', "/tr8n/relationships/eval_path", {
			parameters: {etps:Tr8n.value("etps")}
    });
	}
</script>