<% Tr8n::Config.with_options(:default_locale => 'en-US', :admin => true) do %>

  <%= render :partial => "/tr8n/common/header" %>
	
  <div class="section_box" style="margin-bottom:10px; background-color:#EFF8FF; margin-top:0px;">
	  <div style="font-size:20px;font-weight:bold;"><%=tra("Test Relationship Path")%></div>
  </div>
		
  <div class="section_box">
  
    <% form_tag({}) do %>
			<div style="margin-bottom:10px;">
	      <div style="font-size:12px;padding-bottom:5px;"><%=tra("Relationship path in eTPS notation:")%></div>
	      <%=text_field_tag(:etps, params[:etps], {:id => :relationship_key, :style => "width:90%;font-size:24px", :onKeyUp => "", :id => "etps"})%> &nbsp; 
	      <button type="button" class="translator_btn translator_small_btn" onClick="evaluateRelationshipPath(); return false;">
	          <span><%=tra("Evaluate")%></span>
	      </button>
			</div>
			
      <div style="margin-bottom:10px;">
	      <div style="font-size:12px;padding-bottom:5px;"><%=tra("Translation:")%></div>
				<div id="translation" style="border:1px solid #ccc; background-color: #eee; min-height:20px; padding:10px;">
        </div>
   		</div>
    <% end %>
  </div>

  <%= render :partial => "/tr8n/common/footer" %>
	
<% end %>


<script>
	function evaluateRelationshipPath() {
    Tr8n.element("translation").innerHTML = "<div style='text-align:left;'><img src='/tr8n/images/spinner.gif' style='vertical-align:bottom'> Loading...</div>";
    Tr8n.Utils.update('translation', "/tr8n/relationships/eval_path", {
			parameters: {etps:Tr8n.value("etps")}
    });
	}
</script>