<%= tr8n_lightbox_header_tag %>
<div class="inner">
    <div class="hd">
        <%= tr8n_lightbox_title_tag(tra("Translation Key Details")) %>
    </div>
    <div class="bd" style="padding-bottom:60px;">
        <%= form_for(@key, :as => :translation_key, :url => {:id => @key.id}, :html => {:id => 'tr8n_form', :method => :post, :class => "tr8n"}) do |form| %>
        <%= hidden_field_tag(:origin, params[:origin]) %>
        <table class="admin_table">
            <% if @key.id %>
            <tr>
                <th>
                    <%=tra("Access Key:") %>
                </th>
                <td>
                    <%=@key.key %>
                </td>
            </tr>
            <tr>
                <th>
                    <%=tra("Translations:") %>
                </th>
                <td>
                    <%=@key.translations.size %>
                </td>
            </tr>
            <% end %>
            <tr>
                <th>
                    <%=tra("Label:") %>
                </th>
                <td>
                    <%= form.text_area :label, :style=>"width:99%;height:100px;" %>
                </td>
            </tr>
            <tr>
                <th>
                    <%=tra("Description:") %>
                </th>
                <td>
                    <%= form.text_area :description, :style=>"width:99%;height:50px;" %>
                </td>
            </tr>
            <tr>
                <th>
                    <%=tra("Level:") %>
                </th>
                <td>
                    <%= form.text_field :level, :style=>"width:99%;" %>
                </td>
            </tr>
        </table>
        <div>
            <em>Note: make sure to change the source code to reflect the new label and description. Otherwise the lookup will fail and the old key will be re-registered.</em>
        </div>
        <% end %>
    </div>
    <div class="ft">
        <%= render :partial => "/tr8n/admin/common/lightbox_buttons" %>
    </div>
</div>
<%= tr8n_lightbox_footer_tag %>
