<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs" %>
<%= tr8n_will_filter(@locks) %>
<%= render :partial => "/tr8n/admin/common/paginator", :locals => {:objects => @locks} %>

<table class="admin_table">
  <tr>
    <th>
      Language
    </th>
    <th>
      Label
    </th>
    <th>
      Translator
    </th>
    <th>
      Locked
    </th>
    <th style="text-align:right">
      Updated At
    </th>
  </tr>  
  <% @locks.each_with_index do |lock, index| %>
    <tr>
      <td><%=lock.language.english_name%></td>      
      <td>
        <%=link_to(lock.key.label, :action => :view, :key_id => lock.key.id)%>
         <div style="color:grey; font-size:10px;">
            <%=lock.key.description %>
         </div>
			</td>      
      <td><%=link_to(lock.translator.name, :controller => "/tr8n/admin/translator", :action => :view, :translator_id => lock.translator.id) if lock.translator %></td>
      <td><%=lock.locked?%></td>      
      <td style="text-align:right">
        <%=lock.updated_at.trl(:date_time) %>
      </td>      
    </tr>
  <% end %>
</table>

<%= render :partial => "/tr8n/admin/common/paginator", :locals => {:objects => @locks} %>
<%= render :partial => "/tr8n/admin/common/footer" %>
