<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs", :locals => {:current_tab => "Translation Key Details"} %>

<table class="admin_table">
    <tr>
        <th width="160">
            Translation Key Id
        </th>
        <td>
            <%=@key.id %>
        </td>
    </tr>
    <tr>
        <th>
            Context Key
        </th>
        <td>
            <%=@key.key %>
        </td>
    </tr>
    <tr>
        <th>
            Locale
        </th>
        <td>
            <%=@key.locale %>
        </td>
    </tr>
    <tr>
        <th>
            Level
        </th>
        <td>
            <%=@key.level %>
        </td>
    </tr>
    <tr>
        <th>
            Admin
        </th>
        <td>
            <%=@key.admin? %>
        </td>
    </tr>
    <tr>
        <th>
            Label
        </th>
        <td>
            <%=@key.label %>
        </td>
    </tr>    
    <tr>
        <th>
            Description
        </th>
        <td>
            <%=@key.description %>
        </td>
    </tr>
    <tr>
        <th>
            Original Locale
        </th>
        <td>
            <%=@key.locale %>
        </td>
    </tr>
    <tr>
        <th>
            Admin
        </th>
        <td>
            <%=@key.admin? %>
        </td>
    </tr>
    <tr>
        <th>
            Created At
        </th>
        <td>
            <%=@key.created_at %>
        </td>
    </tr>    
    <tr>
        <th>
            Updated At
        </th>
        <td>
            <%=@key.updated_at %>
        </td>
    </tr>    
    <tr>
        <th>
            
        </th>
        <td>

        <%
          html = []
          html << link_to("View as Translator", {:controller => "/tr8n/phrases", :action => :view, :translation_key_id => @key.id})
          html << link_to_function("Update", "tr8nLightbox.show('/tr8n/admin/translation_key/lb_update?key_id=#{@key.id}', {height:450})")
          html << link_to("Delete", {:action => :delete, :key_id => @key.id, :source => :key}, {:confirm => "Are you sure you want to delete this key?"})
        %>
        <%= html.join(' | ') %>

        </td>
    </tr>    
</table>

<%=  tr8n_sections_tag(:modes => [
            ["Translations",   {:mode => :translations}],
            ["Sources",   {:mode => :sources}],
            ["Locks",   {:mode => :locks}],
            ["Comments",   {:mode => :comments}],
        ],
        :params => {
            :key_id => @key.id
        }
) %>


<%= render :partial => "/tr8n/admin/common/footer" %>
