<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs", :locals => {:current_tab => "#{image_tag("tr8n/icons/key.png")} Translation Key Details".html_safe} %>

<table class="admin_table">

    <tr>
        <th>
            Label
        </th>
        <td>
            <%=@key.label %>
        </td>
    </tr>    

    <tr>
        <th>
            Description
        </th>
        <td>
            <%=@key.description %>
        </td>
    </tr>
    
    <tr>
        <th width="160">
            Translation Key Id
        </th>
        <td>
            <%=@key.id %>
        </td>
    </tr>
    <tr>
        <th>
            Context Key
        </th>
        <td>
            <%=@key.key %>
        </td>
    </tr>
    <tr>
        <th>
            Locale
        </th>
        <td>
            <%=@key.locale %>
        </td>
    </tr>
    <tr>
        <th>
            Level
        </th>
        <td>
            <%=@key.level %>
        </td>
    </tr>
    <tr>
        <th>
            Admin
        </th>
        <td>
            <%=@key.admin? %>
        </td>
    </tr>
    <tr>
        <th>
            Original Locale
        </th>
        <td>
            <%=@key.locale %>
        </td>
    </tr>
    <tr>
        <th>
            Admin
        </th>
        <td>
            <%=@key.admin? %>
        </td>
    </tr>
    <tr>
        <th>
            Created At
        </th>
        <td>
            <%=@key.created_at %>
        </td>
    </tr>    
    <tr>
        <th>
            Updated At
        </th>
        <td>
            <%=@key.updated_at %>
        </td>
    </tr>    
    <tr>
        <th>
            
        </th>
        <td>
        <%= tr8n_actions_tag([
                link_to_function("Update", "Tr8n.UI.Lightbox.show('/tr8n/admin/translation_key/lb_update?id=#{@key.id}', {height:450})"),
                link_to("View as Translator", {:controller => "/tr8n/phrases", :action => :view, :translation_key_id => @key.id}),
        ]) %>
        </td>
    </tr>    
</table>

<%=  tr8n_sections_tag(:modes => [
            ["Translations",   {:mode => :translations}],
            ["Sources",   {:mode => :sources}],
            ["Locks",   {:mode => :locks}],
            ["Comments",   {:mode => :comments}],
        ],
        :params => {
            :id => @key.id
        }
) %>


<%= render :partial => "/tr8n/admin/common/footer" %>
