<%= render :partial => "/tr8n/admin/common/header" %>

<h1>
  <%=render :partial => "tabs" %>
	Translation Key Details
</h1>

<table class="admin_table">
    <tr>
        <th width="160">
            Translation Key Id
        </th>
        <td>
            <%=@key.id %>
        </td>
    </tr>
    <tr>
        <th>
            Access Key
        </th>
        <td>
            <%=@key.key %>
        </td>
    </tr>
    <tr>
        <th>
            Label
        </th>
        <td>
            <%=@key.label %>
        </td>
    </tr>    
    <tr>
        <th>
            Description
        </th>
        <td>
            <%=@key.description %>
        </td>
    </tr>
    <tr>
        <th>
            Created At
        </th>
        <td>
            <%=@key.created_at %>
        </td>
    </tr>    
    <tr>
        <th>
            Updated At
        </th>
        <td>
            <%=@key.updated_at %>
        </td>
    </tr>    
    <tr>
        <th>
            
        </th>
        <td>
          <%=link_to("view translations", "/tr8n/admin/translation/index?mf_c_0=translation_key_id&mf_co_0=is&mf_cv_0_0=#{@key.id}") %>
          |          
          <%=link_to("delete", {:action => :delete, :key_id => @key.id, :source => :key}, {:confirm => "Are you sure you want to delete this key?"}) %>
        </td>
    </tr>    
</table>

<h1>
	<span style="font-size:12px; float:right; padding-top:10px;">
	  <%=link_to("view all", "/tr8n/admin/translation_key/sources}") %>
	</span>
		
	Sources Where This Key Appears
</h1>

<table class="admin_table">
  <tr>
    <th align="left">
      Source 
    </th>
    <th align="right">
      Location
    </th>
  </tr>  
  <% @key.translation_key_sources.each_with_index do |key_source, index| %>
    <tr>
      <td>
      	<%=link_to(key_source.source.source, "/tr8n/admin/translation_key/key_sources?mf_c_0=translation_source_id&mf_co_0=is&mf_cv_0_0=#{key_source.source.id}") %>
      </td>
      <td>
        <% if key_source.details %>
            <% key_source.details.each do |key, value| %>
              <%=link_to_function(value.first, "tr8nLightbox.show('/tr8n/admin/translation_key/lb_caller?key_source_id=#{key_source.id}&caller_key=#{key}', {height:550, width:1000})") %>
              <br>
            <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= render :partial => "/tr8n/admin/common/footer" %>
