	<div class="page_ft module quiet">
	  <ul class="flt_r right_horiz_list">
	    <li><%=link_to(tr("Home"), "/", :class => "quiet")%></li>
	    <li><%=link_to(tr("Languages"), "/tr8n/language/table", :class => "quiet")%></li>
	    <li><%=link_to(tr("Translator Tools"), "/tr8n/dashboard", :class => "quiet")%></li>
	    <li><%=link_to(tr("Administration Tools"), "/tr8n/admin/language", :class => "quiet")%></li>
	    <li><%=link_to(tr("Credits"), "/tr8n/help/credits", :class => "quiet")%></li>
	    <li><%=link_to(tr("License"), "/tr8n/help/license", :class => "quiet")%></li>
	  </ul>
	  &copy; Copyright 2010-2011 tr8n.net
	</div>

</div>

<div style="margin-top:20px;margin-bottom:50px;">
  <%= tr8n_language_strip_tag %>
</div>
