<% @results.each do |comp| %>

<div class="section_title" style="font-size:14px;">
  <div style="<%=tr8n_style_attribute_tag('float', 'right')%>;font-size:12px;">
    <%=link_to("view component", :action => :component, :comp_id => comp.id)%>
  </div>

  <%=tr8n_toggler_tag("comp_content_#{comp.id}")%>
  
  <span dir="ltr">
    <a name="<%="comp-#{comp.id}"%>" style="text-decoration:none;color:black;"><%= comp.name %></a>
  </span>
</div>

<div id="comp_content_<%=comp.id%>" class="section_box colored">
<% languages = comp.languages.sort{|lang1, lang2| lang1.english_name <=> lang2.english_name} %>

<% languages.each do |language| %>
  <% 
    metrics = comp.sources.collect{|s| s.total_metric(language)} 
  %>
  <div class="section_box" style="background-color:#FDFFF0; margin-bottom:10px; margin-top:0px;">
    <table>
      <tr>
        <td style="width:20%;text-align:left; padding:10px 0px; font-size:20px;">
          <%= tr8n_language_flag_tag(language) %> <%= language.english_name %>
        </td>
        <td style="text-align:center;width:40%;">
          <div style="font-size:30px;font-weight:bold;">
            <%= metrics.collect{|m| m.translation_completeness}.sum/metrics.count %>%
          </div>
          Translated
        </td>
        <td style="text-align:center;width:40%;">
          <div style="font-size:30px;font-weight:bold;">
            <%= metrics.collect{|m| m.completeness}.sum/metrics.count %>%
          </div>
          Locked
        </td>
      </tr>
    </table>
  </div>
<% end %> 

</div>  

<% end %>