<div class="inner">
    <div class="hd">
        <div style="float:right;">
            <%=link_to_function(image_tag("/tr8n/images/close.gif"), "tr8nLightbox.hide();") %>
        </div>
        Add Languages To <%=@comp.name%>
    </div>
    <div class="bd">
        <% form_tag({:action => :add_objects_to_component}, {:id => 'tr8n_form', :method => :post, :class => "tr8n"}) do %>
        <%= hidden_field_tag :type, params[:type] %>
        <%= hidden_field_tag :comp_id, params[:comp_id] %>
        <%= hidden_field_tag :source_url, request.env['HTTP_REFERER'] %>
        <div style="max-height:340px;overflow:auto;font-size:12px;">
            <% @languages.each do |lang| %>
                <div style="padding:5px; border-bottom:1px dotted #eee">
                    <%= check_box_tag("ids[]", lang.id) %> &nbsp; <%= lang.full_name %>
                </div>
            <% end %>
        </div>    
        <% end %>
    </div>
    <div class="ft">
        <%= render :partial => "/tr8n/admin/common/lightbox_buttons" %>
    </div>
</div>
