<%= will_filter_scripts_tag %>

<%= form_tag("", :id => "translations_form", :method => :get) do %>
  <%=hidden_field_tag(:comp_id, params[:comp_id]) %>
  <%=hidden_field_tag(:source_id, params[:source_id]) %>
  <%=hidden_field_tag(:app_id, params[:app_id]) %>
  <%=hidden_field_tag(:mode, params[:mode]) %>
  
  <div style="border:1px solid #ccc;padding:10px;background:#eee;margin-top:10px;margin-bottom:10px;">
    <%= text_field_tag(:q, params[:q], :style => "width:88%", :placeholder => "Search for specific translations") %>
    <%= link_to_function("<span>#{tra("Search")}</span>".html_safe, "Tr8n.Effects.submit('translations_form');", :class => "tr8n_grey_button tr8n_pcb") %>
    <%= link_to_function("<span>#{tra("Clear")}</span>".html_safe, "Tr8n.element('q').value = '';Tr8n.Effects.submit('translations_form');", :class => "tr8n_grey_button tr8n_pcb") %>
    <% if @language_options or @translator_options %>
      <div style="padding-top:10px;">
        <% if @language_options %>
          Language: <%=select_tag(:language, options_for_select(@language_options, params[:language])) %>
          &nbsp;
        <% end %>
        <% if @translator_options %>
          Translator: <%=select_tag(:translator, options_for_select(@translator_options, params[:translator])) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= will_filter_table_tag(@results, :columns => [
    [:checkbox, :translations],
    :id,
    [:language_id, lambda{|translation|
      if translation.language
        link_to(translation.language.english_name, :controller => "/tr8n/admin/language", :action => :view, :lang_id => translation.language.id)
      else
         "Deleted Language"    
      end  
    }],
    [:label, lambda{|translation|
      html = []
      html << link_to(translation.label, :action => :view, :translation_id => translation.id)
      if translation.context
        html << "<div style='font-size:10px;color:grey'>"
        html << "Context: #{translation.context}"
        html << "</div>"
      end
      html.join("") 
    }],
    [:translation_key_id, lambda{|translation|
       html = []
       html << link_to(translation.translation_key.label, :controller => "/tr8n/admin/translation_key", :action => :view, :key_id => translation.translation_key.id)
       html << "<div style='font-size:10px;color:grey'>"
       html << translation.translation_key.description
       html << "</div>"
       html.join("") 
    }],    
    [:translator_id, lambda{|translation|
      if translation.translator
        link_to(translation.translator.name, :controller => "/tr8n/admin/translator", :action => :view, :translator_id => translation.translator.id)
      else
        "Unknown" 
      end  
    }],
    [:rank, lambda{|translation| 
      html = []
      if translation.rank >= Tr8n::Config.translation_threshold
        html << "<span style='color:green'>"
      elsif translation.rank >= 0
        html << "<span style='color:yellow'>"
      else
        html << "<span style='color:red'>"
      end     
      html << translation.rank
      html << "</span>"
      html.join("")
    }, 'text-align:right;width:50px;'],
    :created_at,
    [:actions, lambda{|translation|
      html = []
      html << link_to("View", :action => :view, :translation_id => translation.id)
      html << link_to("Delete", {:action => :delete, :translation_id => translation.id}, {:confirm => "Are you sure you want to delete this translation?"})
      html.join(' | ')
    }, 'text-align:right;white-space:nowrap;']
  ]) %>
<% end %>

<%= will_filter_actions_bar_tag(@results, [
['Delete Selected Translations', 'deleteSelectedTranslations()'] 
]) %>

<script>
  function deleteSelectedTranslations() {
    if (!confirm('Are you sure you want to run this opperation?'))
       return;
    Tr8n.element('translations_form').action = "/tr8n/admin/translation/delete";
    Tr8n.element('translations_form').submit();
  }
</script>