<% form_tag("", :id => "keys_form", :method => :get) do %>
  <%=hidden_field_tag(:comp_id, params[:comp_id]) %>
  <%=hidden_field_tag(:app_id, params[:app_id]) %>
  <%=hidden_field_tag(:mode, params[:mode]) %>
  
  <div style="border:1px solid #ccc;padding:10px;background:#eee;margin-top:10px;margin-bottom:10px;">
    <%= text_field_tag(:q, params[:q], :style => "width:88%", :placeholder => "Search for specific keys within this source") %>
    <%= link_to_function("<span>#{tra("Search")}</span>", "Tr8n.Effects.submit('keys_form');", :class => "tr8n_grey_button tr8n_pcb") %>
    <%= link_to_function("<span>#{tra("Clear")}</span>", "Tr8n.element('q').value = '';Tr8n.Effects.submit('keys_form');", :class => "tr8n_grey_button tr8n_pcb") %>
  </div>

  <%= will_filter_table_tag(@results, :columns => [
    [:id, lambda{|key|
      link_to(key.id, :controller => "/tr8n/admin/translation_key", :action => :view, :key_id => key.id) 
    }],
    [:label, lambda{|key|
      html = key.label
      html << '<div style="color:grey; font-size:10px; padding-top:3px;">'
      html << key.description.to_s  
      html << '</div>'  
    }],
    :locale,
    [:admin, lambda{|key| key.admin}, 'padding:5px;text-align:right;'],
    [:level, lambda{|key| key.level}, 'padding:5px;text-align:right;'], 
    [:translation_count, lambda{|key| link_to(key.translation_count || 0, :controller => "/tr8n/admin/translation_key", :action => :view, :key_id => key.id, :mode => :translations)}, 'padding:5px;text-align:right;'],
    [:created_at, lambda{|key| key.created_at}, 'padding:5px;text-align:right;'],
    [:actions, lambda{|key|
      html = []
      html << link_to_function("Update", "tr8nLightbox.show('/tr8n/admin/translation_key/lb_update?key_id=#{key.id}', {height:450})")
      html << link_to("Delete", {:controller => "/tr8n/admin/translation_key", :action => :delete, :key_id => key.id}, {:confirm => "Are you sure you want to delete this key?"})
      html.join(' | ')
    }, 'padding:5px;text-align:right;white-space:nowrap;']
  ]) %>

<% end %>
