<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs" %>
<%= tr8n_will_filter(@key_sources) %>

<%= form_tag("", :id => "key_sources_form") do %>
  <%= will_filter_table_tag(@key_sources, :columns => [
    [:checkbox, 'key_sources'],  
    [:translation_source_id, lambda{|key_source|
      html = []
      html << link_to(key_source.source.source, "/tr8n/admin/applications/key_sources?wf_c0=translation_source_id&wf_o0=is&wf_v0_0=#{key_source.source.id}")
      html << "<div style='color:grey; font-size:10px;'>"
      if key_source.details
        key_source.details.each do |key, value|
          html << link_to_function(value.first, "tr8nLightbox.show('/tr8n/admin/applications/lb_caller?key_source_id=#{key_source.id}&caller_key=#{key}', {height:550, width:1000})")
          html << "<br>"
        end
      end
      html << "</div>"
      html.join("").html_safe
    }],
    [:translation_key_id, lambda{|key_source|
      html = []
      html << link_to(key_source.key.label, :controller => '/tr8n/admin/translation_key', :action => :view, :key_id => key_source.key.id)
      html << "<div style='color:grey; font-size:10px;'>"
      html << key_source.key.description
      html << "</div>"
      html.join("").html_safe
    }], 
    [:actions, lambda{|key_source|
      html = []
      html << link_to("Delete", {:action => :delete_key_source, :key_source_id => key_source.id}, {:confirm => "Are you sure you want to delete this key source?"})
      html.join(' | ').html_safe
    }, 'padding:5px;text-align:right;white-space:nowrap;']
  ]) %>
<% end %>

<%= will_filter_actions_bar_tag(@key_sources, [
  ['Delete Selected Key Sources', 'deleteSelectedKeySources()']
]) %>

<%= render :partial => "/tr8n/admin/common/footer" %>

<script>
  function deleteSelectedKeySources() {
    if (!confirm('Are you sure you want to delete all selected key sources?'))
       return;
    Tr8n.element('key_sources_form').action = "/tr8n/admin/applications/delete_key_source";
    Tr8n.element('key_sources_form').submit();
  }
</script> 