<% if Tr8n::Config.enabled? and (Tr8n::Config.open_translator_mode? or Tr8n::Config.current_user_is_translator?) %>
  <div class="tr8n_language_strip" style="font-size:12px;">
	  <% featured_languages = Tr8n::Language.featured_languages %>
		
  	<% featured_languages.each do |lang| %>
		    <%= tr8n_language_name_tag(lang, opts) %> &nbsp;
		<% end %>
		
		<% if featured_languages.size > 0 %>
				<% if opts[:more_link] == :javascript %>
				  <span id="tr8n_more_strip_languages">
				    <%=link_to_function("&raquo;", "$('tr8n_more_strip_languages').hide(); Effect.Appear('tr8n_other_strip_languages');") %>
					</span>	
					
					<span id="tr8n_other_strip_languages" style="display:none">
					  <% (Tr8n::Language.enabled_languages - featured_languages).each do |lang| %>
			        <%= tr8n_language_name_tag(lang, opts) %> &nbsp;
			      <% end %>
						
			      <span id="tr8n_less_strip_languages">
			        <%=link_to_function("&laquo;", "$('tr8n_more_strip_languages').show(); Effect.Fade('tr8n_other_strip_languages');") %>
			      </span> 
					</span>
				<% else %>
		      <%=link_to("&raquo;", opts[:more_link]) %>
				<% end %>	
    <% end %> 
  </span>
<% end %>