<div class="translations_navigation">
  <div style="font-size:22px; font-weight: bold;padding-bottom:15px;">
	 <%=tra("Translation Tools", "Tr8n tabs header") %>
	 <% unless tr8n_current_language.default? %> 
		 - <%=tra("#{tr8n_current_language.english_name} Language")%>
			 <% if tr8n_current_user_is_manager? %>
			   <%=link_to(tra("manage"), "/tr8n/language", :style => "font-size:12px;")%>
			 <% end %>
	 <% end %>  
	</div>
  
  <ul class="translations_tab_nav translations_tabs">
      <% tr8n_features_tabs.each do |tab| %>
        <%  classes = []
            section_key_condition = tab[:key].to_s == "sitemap" ? (@section_key != nil) : (@section_key == nil)

            if tab[:actions].any?
              current = (tab[:controller] == controller.controller_name and tab[:actions].include?(controller.action_name) and section_key_condition) 
            else
              current = (tab[:controller] == controller.controller_name and section_key_condition) 
            end 

            classes << "current" if current
            if tr8n_features_tabs.first == tab
              classes << "first" 
              classes << "first_current" if current
            elsif tr8n_features_tabs.last == tab
              classes << "last"
              classes << "last_current" if current
            end   
        %>
        
        <li class="<%=classes.join(' ') %>">
          <%=link_to(tra(tab[:title], "Tr8n feature"), tab[:link])%>
        </li>

      <% end %>
  </ul>
</div>
