<style type="text/css">
  ol  {list-style:outside;margin-left:4em;margin-top:2em;}
  ol.first  {list-style-type: upper-roman;}
  ol.first li {margin-bottom:2em;}
  ol.second {list-style-type:decimal;}
  ol.third  {list-style-type:lower-roman;}
</style>

<p>
	PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS APPLICATION.
</p>
<br>

<p>
The <%=Tr8n::Config.site_title %> Translations application collects translations, comments, suggestions, ideas, feedback and other information ("Submissions") 
from you and other users in connection with <%=Tr8n::Config.site_title %>'s language translation project to provide access to <%=Tr8n::Config.site_title %> and websites that use <%=Tr8n::Config.site_title %>'s platform in multiple languages (the "Project").
</p>
<br>

<p>
You understand that your participation in the Project is for the benefit of the <%=Tr8n::Config.site_title %> user community as it will allow users whose participation is currently limited by language to more fully participate. 
</p>
<br>

<p>
You acknowledge that your participation in the Project is entirely voluntary, and you understand that no monetary or other compensation will be given to persons, including you, for Submissions. 
</p>
<br>

<p>
	You may provide as much or as little input into the Project as you wish and can cease contributing to the Project at any time.
</p>	
<br>

<p>
In consideration of <%=Tr8n::Config.site_title %>'s permitting you to participate in the Project and the benefits to the <%=Tr8n::Config.site_title %> user community of which you are a member, 
you acknowledge and agree that any Submissions that you provide to <%=Tr8n::Config.site_title %> will be owned by <%=Tr8n::Config.site_title %>. Accordingly, you irrevocably assign to <%=Tr8n::Config.site_title %> all right, title and interest, 
including all intellectual property rights, in and to all Submissions, and <%=Tr8n::Config.site_title %> is entitled to the unrestricted use and dissemination of these Submissions for any purpose, 
commercial or otherwise, without acknowledgment, consent or monetary or other tangible compensation to you. To the extent that the foregoing assignment is or becomes 
invalid or unenforceable to any degree or for any reason, you grant <%=Tr8n::Config.site_title %> an irrevocable, perpetual, exclusive, fully-paid-up, royalty-free, worldwide right and license, 
with the right to sublicense, to use, reproduce, display, perform, create derivative works of, distribute and otherwise exploit the Submissions in any manner.
</p>
<br>

<p>
<%=Tr8n::Config.site_title %> reserves the right, in our sole discretion, to change, modify, add, or delete portions of these Terms at any time without further notice. 
If we do this, we will post the changes to these Terms on this page and will indicate at the top of this page the date these terms were last revised. 
You agree to waive any specific notice of such changes, and your continued use and operation of <%=Tr8n::Config.site_title %> Translation application after any such 
changes constitutes your acceptance of the new Terms. 
It is your responsibility to regularly check the Site to determine if there have been changes to these Terms.
</p>