<ul class="<%=opts[:class]%>" style="<%=opts[:style]%>">
<% if !Tr8n::Config.current_user or Tr8n::Config.current_user.guest? %>
  <li><%=link_to(trl("Login", "Translator login link"), "/tr8n/login")%></li>
<% else %>
  <li><%=tr("Welcome {user}!", "", :user => [Tr8n::Config.current_user, :name]) %></li>
  <li><%=link_to(trl("Logout", "Translator logout link"), "/tr8n/login/out")%></li>
<% end %>
<% if Tr8n::Config.enabled? and (Tr8n::Config.open_registration_mode? or Tr8n::Config.current_user_is_translator?) %>
  <li><%= tr8n_language_selector_tag %></li>
<% end %>
</ul>