<div class="page_ft module quiet">
  <ul class="flt_r right_horiz_list">
    <li><%=link_to(tr("Home"), "/tr8n/home", :class => "quiet")%></li>
    <li><%=link_to(tr("Languages"), "/tr8n/language/table", :class => "quiet")%></li>
    <li><%=link_to(tr("Translator Tools"), "/tr8n/translator/dashboard", :class => "quiet")%></li>
    <li><%=link_to(tr("Administration Tools"), "/tr8n/admin/language", :class => "quiet")%></li>
    <li><%=link_to(tr("Credits"), "/tr8n/home/credits", :class => "quiet")%></li>
    <li><%=link_to(tr("License"), "/tr8n/home/license", :class => "quiet")%></li>
  </ul>
  &copy; Copyright 2010 - 2013
</div>

</div>
<div style="padding:15px;">
	<%= tr8n_language_strip_tag %>
</div>
