<%= tr8n_with_options_tag(:default_locale => 'en-US', :admin => true) do %>
	<style>
	  .content_hd,
	  .content_bd,
	  .content_ft                 {overflow:hidden;zoom:1;padding:25px}
		
		.credits td {
			vertical-align: top;
		}
	</style>
	<div style="text-align:center; margin:15px;">
	 <%=image_tag("/tr8n/images/tr8n_logo2.png", :style => "height:120px;")%>
	</div>
	
	<h2 class="underscore content_hd">
	  Tr8n Translation Engine Team
	</h2>
	
	<div class="content_bd">
		<table cellpadding="5px;" style="width:100%" class="credits">
			<tr>
				<td style="width:15%">
		       <%=image_tag("http://www.gravatar.com/avatar/6fd9c059806e2ba9b299424b39403efb?s=100")%>			
				</td>
				<td>
					<strong>Michael Berkovich</strong><br>
					Lead Engineer and Designer<br>
	        <%=link_to("https://github.com/berk", "https://github.com/berk")%>
				</td>	
	
	      <td style="width:15%">
	         <%=image_tag("http://www.gravatar.com/avatar/79b5fcb41c46358ae0a54499c102077d?s=100")%>      
	      </td>
	      <td>
	        <strong>Scott Steadman</strong><br>
	        Project Advisor<br>
	        <%=link_to("https://github.com/ss", "https://github.com/ss")%>
	      </td> 
	
			</tr>
	    <tr>
        <td>
           <%=image_tag("http://www.gravatar.com/avatar/3882f637b974cf22a75f5c8ba634f257?s=100")%>      
        </td>
        <td>
          <strong>Ian McDaniel</strong><br>
          User Interface Designer<br>
          <%=link_to("https://github.com/ianmcdaniel", "https://github.com/ianmcdaniel")%>
        </td>

        <td>
           <%=image_tag("http://www.gravatar.com/avatar/6b0d8835a4e95219519f005ca170006d?s=100")%>      
        </td>
        <td>
          <strong>Amos Elliston</strong><br>
          Project Advisor<br>
          <%=link_to("https://github.com/famoseagle", "https://github.com/famoseagle")%>
        </td> 
				 
	    </tr>
	    <tr>

        <td style="width:15%">
           <%=image_tag("http://www.gravatar.com/avatar/2922861d825b49140f36592c9e96f310?s=100")%>      
        </td>
        <td>
          <strong>Justin Balthrop</strong><br>
          Project Advisor<br>
          <%=link_to("https://github.com/ninjudd", "https://github.com/ninjudd")%>
        </td> 
		

        <td>
        </td>
        <td>
        </td>
	
	    </tr>
	  </table>
		
	</div>
	
	<h2 class="underscore content_hd">
	  Third Party Plugins and Scripts
	</h2>
	
	<div class="content_bd">
	  <strong>Brian Huisman</strong><br>
	  JavaScript Graphic / Virtual Keyboard Interface<br>
		<%=link_to("http://www.greywyvern.com/code/javascript/keyboard", "http://www.greywyvern.com/code/javascript/keyboard")%>
	  <br><br>  
	
		<strong>Mislav Marohnić</strong><br>
		will_paginate plugin<br> 
	  <%=link_to("https://github.com/mislav", "https://github.com/mislav")%>
	  <br><br>  
		
		<strong>Binny V A</strong><br> 
		Script for Handling Keyboard Shortcuts in JavaScript<br>
		<%=link_to("http://www.openjs.com/scripts/events/keyboard_shortcuts", "http://www.openjs.com/scripts/events/keyboard_shortcuts")%>
	</div>
<% end %>	