<% Tr8n::Config.with_options(:default_locale => 'en-US', :admin => true) do %>

<style>
	.banner { background: #f6f8ee; border: 1px solid #c2c2c2; color: #666; height: 325px; margin: 20px auto; overflow: hidden; position: relative; width: 938px; -webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px; }
	.link {
		padding-bottom:8px;
	}
</style>

	<div class="banner">
		<table>
			<tr>
				<td style="vertical-align:middle;text-align:center;padding:25px;">
			   <%=image_tag("/tr8n/images/tr8n_logo2.png", :style => "height:180px;")%>
				</td>	
				<td style="vertical-align:top;padding:15px;">
					<div class="content_bd">
						<h2 class="underscore content_hd">
						  <%=tr('Welcome to Tr8n Translation Engine') %>
						</h2>
					  <h3 style="padding-left:15px;color:#666;font-size:14px;"><%=tr("Follow these links to get started:")%></h3>
						<br>
					  <ul style="list-style-type:decimal; margin-left:30px; font-size:14px;">
					    <li class="link"><%= link_to_function(tr("Change your language and enable inline translations by using the language selector in the top right corner"), "tr8nLanguageSelector.toggle();")%></li>
							<li class="link"><%= link_to(tr("Take a look at your dashboard and see your translation progress"), "/tr8n/dashboard")%></li>
					    <li class="link"><%= link_to(tr("View and translate phrases in the bulk translation mode"), "/tr8n/phrases")%></li>
					    <li class="link"><%= link_to(tr("View and search through translations"), "/tr8n/translations")%></li>
					    <li class="link"><%= link_to(tr("See translator awards"), "/tr8n/awards")%></li>
					    <li class="link"><%= link_to(tr("Participate in translator discussions"), "/tr8n/forum")%></li>
					    <li class="link"><%= link_to(tr("View help"), "/tr8n/help")%></li>
					  </ul>
					</div>
				</td>	
			</tr>	
		</table>	
	</div>
	
<% end %>	



